<?xml version="1.0"?>
<config>
	<modules>
		<Netstarter_Groupedoptions>
			<version>0.1.0</version>
		</Netstarter_Groupedoptions>
	</modules>
	<global>
		<models>
			<groupedoptions>
				<class>Netstarter_Groupedoptions_Model</class>
			</groupedoptions>
			<catalog>
				<rewrite>
					<product_type_grouped>Netstarter_Groupedoptions_Model_Product_Type_Grouped</product_type_grouped>
				</rewrite>
			</catalog>
            <catalog_resource>
                <rewrite>
                    <product_indexer_eav_source>Netstarter_Groupedoptions_Model_Resource_Product_Indexer_Eav_Source</product_indexer_eav_source>
                    <product_indexer_price_grouped>Netstarter_Groupedoptions_Model_Resource_Product_Indexer_Price_Grouped</product_indexer_price_grouped>
                </rewrite>
            </catalog_resource>
            <cataloginventory_resource>
                <rewrite>
                    <indexer_stock_grouped>Netstarter_Groupedoptions_Model_Resource_Indexer_Stock_Grouped</indexer_stock_grouped>
                </rewrite>
            </cataloginventory_resource>

            <!-- deprecated indexers, 1.4-1.5 compat -->
			<cataloginventory_mysql4>
				<rewrite>
					<indexer_stock_grouped>Netstarter_Groupedoptions_Model_Resource_Indexer_Stock_Grouped</indexer_stock_grouped>
				</rewrite>
			</cataloginventory_mysql4>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <product_indexer_price_grouped>Netstarter_Groupedoptions_Model_Resource_Product_Indexer_Price_Grouped</product_indexer_price_grouped>
                </rewrite>
            </catalog_resource_eav_mysql4>
        </models>
        <resources>
            <groupoption_setup>
                <setup>
                    <module>Netstarter_Groupedoptions</module>
                </setup>
            </groupoption_setup>
        </resources>
		<blocks>
			<groupedoptions>
				<class>Netstarter_Groupedoptions_Block</class>
			</groupedoptions>
            <catalog>
                <rewrite>
                    <product_view_type_configurable>Netstarter_Groupedoptions_Block_Product_View_Type_Configurable</product_view_type_configurable>
                </rewrite>
            </catalog>
			<adminhtml>
				<rewrite>
					<catalog_product_edit_tab_super_group>Netstarter_Groupedoptions_Block_Adminhtml_Product_Edit_Tab_Super_Group</catalog_product_edit_tab_super_group>
				</rewrite>
			</adminhtml>
		</blocks>
		<helpers>
			<groupedoptions>
				<class>Netstarter_Groupedoptions_Helper</class>
			</groupedoptions>
		</helpers>
        <catalog>
            <product>
                <type>
                    <grouped>
                        <allow_product_types>
                            <configurable />
                            <virtual />
                            <giftcard/>
                        </allow_product_types>
                    </grouped>
                </type>
            </product>
        </catalog>
	</global>
    <frontend>
        <layout>
            <updates>
                <groupedoptions>
                    <file>grouped-options.xml</file>
                </groupedoptions>
            </updates>
        </layout>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <add_custom_group_handlers>
                        <class>groupedoptions/observer</class>
                        <method>addHandles</method>
                    </add_custom_group_handlers>
                </observers>
            </controller_action_layout_load_before>
            <sales_quote_product_add_after>
                <observers>
                    <groupedoptions>
                        <type>singleton</type>
                        <class>groupedoptions/observer</class>
                        <method>fixConfigurableParentProductIds</method>
                    </groupedoptions>
                </observers>
            </sales_quote_product_add_after>
        </events>
    </frontend>
    <default>
        <groupedoptions>
            <frontend>
                <enable_template_override>1</enable_template_override>
                <enable_expanded_layerednav>0</enable_expanded_layerednav>
            </frontend>
        </groupedoptions>
    </default>
</config> 
