<?xml version="1.0"?>
<config>
    <modules>
        <Netstarter_Retaildirections>
            <version>0.0.11.5</version>
        </Netstarter_Retaildirections>
    </modules>
    <global>
        <models>
            <netstarter_retaildirections>
                <class>Netstarter_Retaildirections_Model</class>
                <resourceModel>netstarter_retaildirections_resource</resourceModel>
            </netstarter_retaildirections>
            <netstarter_retaildirections_resource>
                <class>Netstarter_Retaildirections_Model_Resource</class>
                <entities>
                    <product>
                        <table>netstarter_rdws_products_model</table>
                    </product>
                    <synchronization>
                        <table>netstarter_rdws_synchronization</table>
                    </synchronization>
                </entities>
            </netstarter_retaildirections_resource>
            <enterprise_giftcardaccount>
                <rewrite>
                    <observer>Netstarter_Retaildirections_Model_GiftCardAccount_Observer</observer>
                </rewrite>
            </enterprise_giftcardaccount>
            <enterprise_giftcard>
                <rewrite>
                    <observer>Netstarter_Retaildirections_Model_GiftCard_Observer</observer>
                </rewrite>
            </enterprise_giftcard>
        </models>
        <blocks>
            <netstarter_retaildirections>
                <class>Netstarter_Retaildirections_Block</class>
            </netstarter_retaildirections>
            <!--<adminhtml>-->
                <!--<rewrite>-->
                    <!--<catalog_category_tab_product>Netstarter_Retaildirections_Block_Adminhtml_Catalog_Category_Tab_Product</catalog_category_tab_product>-->
                    <!--<catalog_product_grid>Netstarter_Retaildirections_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>-->
                <!--</rewrite>-->
            <!--</adminhtml>-->
        </blocks>
        <helpers>
            <netstarter_retaildirections>
                <class>Netstarter_Retaildirections_Helper</class>
            </netstarter_retaildirections>
        </helpers>
        <resources>
            <netstarter_retaildirections_setup>
                <setup>
                    <module>Netstarter_Retaildirections</module>
                    <class>Netstarter_Retaildirections_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </netstarter_retaildirections_setup>
            <netstarter_retaildirections_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </netstarter_retaildirections_write>
            <netstarter_retaildirections_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </netstarter_retaildirections_read>
        </resources>
        <events>
            <customer_save_commit_after>
                <observers>
                    <netstarter_retaildirections_customer_save>
                        <type>singleton</type>
                        <class>Netstarter_Retaildirections_Model_Observer</class>
                        <method>afterCustomerSave</method>
                    </netstarter_retaildirections_customer_save>
                </observers>
            </customer_save_commit_after>
            <customer_address_save_commit_after>
                <observers>
                    <netstarter_retaildirections_address_save>
                        <type>singleton</type>
                        <class>Netstarter_Retaildirections_Model_Observer</class>
                        <method>afterCustomerAddressSave</method>
                    </netstarter_retaildirections_address_save>
                </observers>
            </customer_address_save_commit_after>
            <sales_model_service_quote_submit_success>
                <observers>
                    <netstarter_retaildirections_order_save>
                        <type>singleton</type>
                        <class>Netstarter_Retaildirections_Model_Observer</class>
                        <method>orderSaveAfter</method>
                    </netstarter_retaildirections_order_save>
                </observers>
            </sales_model_service_quote_submit_success>
            <enterprise_giftcardaccount_create_before>
                <observers>
                    <netstarter_retaildirections_giftcard_save>
                        <class>Netstarter_Retaildirections_Model_Observer</class>
                        <method>createGiftCard</method>
                    </netstarter_retaildirections_giftcard_save>
                </observers>
            </enterprise_giftcardaccount_create_before>
            <!--<controller_action_predispatch_checkout_onepage_savePayment>-->
            <!--<observers>-->
            <!--<netstarter_retaildirections_onepage_savePayment>-->
            <!--<class>Netstarter_Retaildirections_Model_Observer</class>-->
            <!--<method>checkInventoryCheckoutInit</method>-->
            <!--</netstarter_retaildirections_onepage_savePayment>-->
            <!--</observers>-->
            <!--</controller_action_predispatch_checkout_onepage_savePayment>-->
        </events>
    </global>
    <frontend>
        <events>
            <!--<checkout_type_onepage_save_order>-->
                <!--<observers>-->
                    <!--<apparel>-->
                        <!--<class>Netstarter_Retaildirections_Model_Observer</class>-->
                        <!--<method>checkInventorySaveOrder</method>-->
                    <!--</apparel>-->
                <!--</observers>-->
            <!--</checkout_type_onepage_save_order>-->
            <!--<checkout_cart_product_add_after>-->
                <!--<observers>-->
                    <!--<apparel>-->
                        <!--<class>Netstarter_Retaildirections_Model_Observer</class>-->
                        <!--<method>cartProductAdd</method>-->
                    <!--</apparel>-->
                <!--</observers>-->
            <!--</checkout_cart_product_add_after>-->
            <!--<sales_quote_remove_item>-->
                <!--<observers>-->
                    <!--<apparel>-->
                        <!--<class>Netstarter_Retaildirections_Model_Observer</class>-->
                        <!--<method>cartProductRemove</method>-->
                    <!--</apparel>-->
                <!--</observers>-->
            <!--</sales_quote_remove_item>-->
            <!--<checkout_cart_update_items_after>-->
                <!--<observers>-->
                    <!--<apparel>-->
                        <!--<class>Netstarter_Retaildirections_Model_Observer</class>-->
                        <!--<method>cartProductsUpdate</method>-->
                    <!--</apparel>-->
                <!--</observers>-->
            <!--</checkout_cart_update_items_after>-->
            <controller_action_predispatch_checkout_onepage_savePayment>
                <observers>
                    <netstarter_retaildirections_onepage_savePayment>
                        <class>Netstarter_Retaildirections_Model_Observer</class>
                        <method>checkInventoryCheckoutInit</method>
                    </netstarter_retaildirections_onepage_savePayment>
                </observers>
            </controller_action_predispatch_checkout_onepage_savePayment>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <netstarter_retaildirections_onepage_inde>
                        <class>Netstarter_Retaildirections_Model_Observer</class>
                        <method>checkInventoryCheckoutInit</method>
                    </netstarter_retaildirections_onepage_inde>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
        </events>
    </frontend>
    <default>
        <netstarter_retaildirections>
            <product>
                <tax_id>2</tax_id>
            </product>
        </netstarter_retaildirections>
        <giftcardsapi>
            <netstarter_retaildirections>
                <active>1</active>
                <model>netstarter_retaildirections/giftcard</model>
                <name>Retail Directions</name>
                <title>Retail Directions</title>
            </netstarter_retaildirections>
        </giftcardsapi>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Netstarter_Retaildirections after="Mage_Adminhtml">Netstarter_Retaildirections_Adminhtml</Netstarter_Retaildirections>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <retaildirections>
                    <file>retaildirections.xml</file>
                </retaildirections>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <netstarter_retaildirections>
            <order>
                <giftwrapunitprice>5.99</giftwrapunitprice>
            </order>
        </netstarter_retaildirections>
    </default>
</config>