<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Netstarter_Colors>
            <version>1.0.0.0</version>
        </Netstarter_Colors>
    </modules>
    <admin>
        <routers>
            <colors>
                <use>admin</use>
                <args>
                    <module>Netstarter_Colors</module>
                    <frontName>netstarter_colors</frontName>
                </args>
            </colors>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <netstarter_colors>
                                            <title>Store Netstarter Color Config Options</title>
                                        </netstarter_colors>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <blocks>
            <colors>
                <class>Netstarter_Colors_Block</class>
            </colors>
        </blocks>
        <models>
            <colors>
                <class>Netstarter_Colors_Model</class>
                <resourceModel>colors_resource</resourceModel>
            </colors>
            <colors_resource>
                <class>Netstarter_Colors_Model_Resource</class>
                <entities>
                    <filter_option>
                        <table>netstarter_colors_filter_option</table>
                    </filter_option>
                </entities>
            </colors_resource>
        </models>
        <resources>
            <colors_setup>
                <setup>
                    <module>Netstarter_Colors</module>
                    <!-- leave class empty is using Mage_Core_Model_Resource_Setup -->
                </setup>
            </colors_setup>
        </resources>
        <helpers>
            <colors>
                <class>Netstarter_Colors_Helper</class>
            </colors>
        </helpers>
    </global>
</config>
