<?xml version="1.0"?>
<config>
    <modules>
        <Netstarter_Quickview>
            <version>0.0.1</version>
        </Netstarter_Quickview>
    </modules>
    <frontend>
        <routers>
            <quickview>
                <use>standard</use>
                <args>
                    <module>Netstarter_Quickview</module>
                    <frontName>quickview</frontName>
                </args>
            </quickview>
        </routers>
        <layout>
            <updates>
                <quickview>
                    <file>quickview.xml</file>
                </quickview>
            </updates>
        </layout>
        <cache>
            <requests>
                <quickview>
                    <product>
                        <index>quickview/processor_view</index>
                    </product>
                    <product>
                        <group>quickview/processor_view</group>
                    </product>
                </quickview>
            </requests>
        </cache>
    </frontend>
    <global>
        <blocks>
            <quickview>
                <class>Netstarter_Quickview_Block</class>
            </quickview>
        </blocks>
        <helpers>
            <quickview>
                <class>Netstarter_Quickview_Helper</class>
            </quickview>
        </helpers>
        <models>
            <quickview>
                <class>Netstarter_Quickview_Model</class>
            </quickview>
        </models>
    </global>
</config>