.block .actions .button,.btn2,.btn-primary,.buttons-set button.button,.slick-slider .slick-prev,.slick-slider .slick-next,.header-container .block-cart .button,#postComment .form-button,.quickview-index-view .product-img-box-slider .slick-prev,.quickview-index-view .product-img-box-slider .slick-next,.cart-table .btn-update,.cart-table button,.cart-table .btn-empty,.cart-table .btn-continue,#toPopup .button,#toPopup .button.btn-cart,.btn3,button,.button,input[type="button"],input[type="reset"],input[type="submit"],.btn,.catalog-owl-next,.catalog-owl-prev,.owl-next,.owl-prev,.cart-collaterals .discount .button,.cart-collaterals .shipping .button,.cart-collaterals .cart-totals .button,.cart-collaterals .cart-totals .btn-proceed-checkout{
border-color:#ad5f7d;
background-color:#ad5f7d;
color:#fff;
}
.block .actions .button.active,.btn2.active,.btn-primary.active,.buttons-set button.button.active,.slick-slider .slick-prev.active,.slick-slider .slick-next.active,.header-container .block-cart .button.active,#postComment .form-button.active,.quickview-index-view .product-img-box-slider .slick-prev.active,.quickview-index-view .product-img-box-slider .slick-next.active,.cart-table .btn-update.active,.cart-table button.active,.cart-table .btn-empty.active,.cart-table .btn-continue.active,#toPopup .button.active,#toPopup .button.btn-cart.active,.btn3.active,button.active,.button.active,input[type="button"].active,input[type="reset"].active,input[type="submit"].active,.btn.active,.catalog-owl-next.active,.catalog-owl-prev.active,.owl-next.active,.owl-prev.active,.cart-collaterals .discount .button.active,.cart-collaterals .shipping .button.active,.cart-collaterals .cart-totals .button.active,.cart-collaterals .cart-totals .btn-proceed-checkout.active,.block .actions .button:active,.btn2:active,.btn-primary:active,.buttons-set button.button:active,.slick-slider .slick-prev:active,.slick-slider .slick-next:active,.header-container .block-cart .button:active,#postComment .form-button:active,.quickview-index-view .product-img-box-slider .slick-prev:active,.quickview-index-view .product-img-box-slider .slick-next:active,.cart-table .btn-update:active,.cart-table button:active,.cart-table .btn-empty:active,.cart-table .btn-continue:active,#toPopup .button:active,#toPopup .button.btn-cart:active,.btn3:active,button:active,.button:active,input[type="button"]:active,input[type="reset"]:active,input[type="submit"]:active,.btn:active,.catalog-owl-next:active,.catalog-owl-prev:active,.owl-next:active,.owl-prev:active,.cart-collaterals .discount .button:active,.cart-collaterals .shipping .button:active,.cart-collaterals .cart-totals .button:active,.cart-collaterals .cart-totals .btn-proceed-checkout:active,.block .actions .button:hover,.btn2:hover,.btn-primary:hover,.buttons-set button.button:hover,.slick-slider .slick-prev:hover,.slick-slider .slick-next:hover,.header-container .block-cart .button:hover,#postComment .form-button:hover,.quickview-index-view .product-img-box-slider .slick-prev:hover,.quickview-index-view .product-img-box-slider .slick-next:hover,.cart-table .btn-update:hover,.cart-table button:hover,.cart-table .btn-empty:hover,.cart-table .btn-continue:hover,#toPopup .button:hover,#toPopup .button.btn-cart:hover,.btn3:hover,button:hover,.button:hover,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover,.btn:hover,.catalog-owl-next:hover,.catalog-owl-prev:hover,.owl-next:hover,.owl-prev:hover,.cart-collaterals .discount .button:hover,.cart-collaterals .shipping .button:hover,.cart-collaterals .cart-totals .button:hover,.cart-collaterals .cart-totals .btn-proceed-checkout:hover,.block .actions .button:focus,.btn2:focus,.btn-primary:focus,.buttons-set button.button:focus,.slick-slider .slick-prev:focus,.slick-slider .slick-next:focus,.header-container .block-cart .button:focus,#postComment .form-button:focus,.quickview-index-view .product-img-box-slider .slick-prev:focus,.quickview-index-view .product-img-box-slider .slick-next:focus,.cart-table .btn-update:focus,.cart-table button:focus,.cart-table .btn-empty:focus,.cart-table .btn-continue:focus,#toPopup .button:focus,#toPopup .button.btn-cart:focus,.btn3:focus,button:focus,.button:focus,input[type="button"]:focus,input[type="reset"]:focus,input[type="submit"]:focus,.btn:focus,.catalog-owl-next:focus,.catalog-owl-prev:focus,.owl-next:focus,.owl-prev:focus,.cart-collaterals .discount .button:focus,.cart-collaterals .shipping .button:focus,.cart-collaterals .cart-totals .button:focus,.cart-collaterals .cart-totals .btn-proceed-checkout:focus,.block .actions .button.focus,.btn2.focus,.btn-primary.focus,.buttons-set button.button.focus,.slick-slider .slick-prev.focus,.slick-slider .slick-next.focus,.header-container .block-cart .button.focus,#postComment .form-button.focus,.quickview-index-view .product-img-box-slider .slick-prev.focus,.quickview-index-view .product-img-box-slider .slick-next.focus,.cart-table .btn-update.focus,.cart-table button.focus,.cart-table .btn-empty.focus,.cart-table .btn-continue.focus,#toPopup .button.focus,#toPopup .button.btn-cart.focus,.btn3.focus,button.focus,.button.focus,input[type="button"].focus,input[type="reset"].focus,input[type="submit"].focus,.btn.focus,.catalog-owl-next.focus,.catalog-owl-prev.focus,.owl-next.focus,.owl-prev.focus,.cart-collaterals .discount .button.focus,.cart-collaterals .shipping .button.focus,.cart-collaterals .cart-totals .button.focus,.cart-collaterals .cart-totals .btn-proceed-checkout.focus{
color:#ad5f7d;
background-color:#fff;
border-color:#e1e1e1;
}
.block .actions .button,.btn2,.btn-primary,.buttons-set button.button,.slick-slider .slick-prev,.slick-slider .slick-next,.header-container .block-cart .button,#postComment .form-button,.quickview-index-view .product-img-box-slider .slick-prev,.quickview-index-view .product-img-box-slider .slick-next,.cart-table .btn-update,.cart-table button,.cart-table .btn-empty,.cart-table .btn-continue,#toPopup .button,#toPopup .button.btn-cart{
border-color:#e1e1e1;
background-color:#fff;
color:#333;
}
.block .actions .button.active,.btn2.active,.btn-primary.active,.buttons-set button.button.active,.slick-slider .slick-prev.active,.slick-slider .slick-next.active,.header-container .block-cart .button.active,#postComment .form-button.active,.quickview-index-view .product-img-box-slider .slick-prev.active,.quickview-index-view .product-img-box-slider .slick-next.active,.cart-table .btn-update.active,.cart-table button.active,.cart-table .btn-empty.active,.cart-table .btn-continue.active,#toPopup .button.active,#toPopup .button.btn-cart.active,.block .actions .button:active,.btn2:active,.btn-primary:active,.buttons-set button.button:active,.slick-slider .slick-prev:active,.slick-slider .slick-next:active,.header-container .block-cart .button:active,#postComment .form-button:active,.quickview-index-view .product-img-box-slider .slick-prev:active,.quickview-index-view .product-img-box-slider .slick-next:active,.cart-table .btn-update:active,.cart-table button:active,.cart-table .btn-empty:active,.cart-table .btn-continue:active,#toPopup .button:active,#toPopup .button.btn-cart:active,.block .actions .button:hover,.btn2:hover,.btn-primary:hover,.buttons-set button.button:hover,.slick-slider .slick-prev:hover,.slick-slider .slick-next:hover,.header-container .block-cart .button:hover,#postComment .form-button:hover,.quickview-index-view .product-img-box-slider .slick-prev:hover,.quickview-index-view .product-img-box-slider .slick-next:hover,.cart-table .btn-update:hover,.cart-table button:hover,.cart-table .btn-empty:hover,.cart-table .btn-continue:hover,#toPopup .button:hover,#toPopup .button.btn-cart:hover,.block .actions .button:focus,.btn2:focus,.btn-primary:focus,.buttons-set button.button:focus,.slick-slider .slick-prev:focus,.slick-slider .slick-next:focus,.header-container .block-cart .button:focus,#postComment .form-button:focus,.quickview-index-view .product-img-box-slider .slick-prev:focus,.quickview-index-view .product-img-box-slider .slick-next:focus,.cart-table .btn-update:focus,.cart-table button:focus,.cart-table .btn-empty:focus,.cart-table .btn-continue:focus,#toPopup .button:focus,#toPopup .button.btn-cart:focus,.block .actions .button.focus,.btn2.focus,.btn-primary.focus,.buttons-set button.button.focus,.slick-slider .slick-prev.focus,.slick-slider .slick-next.focus,.header-container .block-cart .button.focus,#postComment .form-button.focus,.quickview-index-view .product-img-box-slider .slick-prev.focus,.quickview-index-view .product-img-box-slider .slick-next.focus,.cart-table .btn-update.focus,.cart-table button.focus,.cart-table .btn-empty.focus,.cart-table .btn-continue.focus,#toPopup .button.focus,#toPopup .button.btn-cart.focus{
border-color:#ad5f7d;
background-color:#ad5f7d;
color:#fff;
}
.btn3{
color:#fff;
background:#ad5f7d;
border-color:#ad5f7d;
}
.btn3.active,.btn3:active,.btn3:hover,.btn3:focus,.btn3.focus{
color:#ad5f7d;
background-color:#fff;
border-color:#e1e1e1;
}
textarea,.input-text,input[type=email],input[type=search],input[type=number],input[type=password],input[type=tel],input[type=text],.form-list select,.cart-collaterals .discount select,.cart-collaterals .shipping select,.cart-collaterals .cart-totals select{
border:1px solid #e9e9e9;
background-color:#fff;
color:#555;
}
textarea:focus,.input-text:focus,input[type=email]:focus,input[type=search]:focus,input[type=number]:focus,input[type=password]:focus,input[type=tel]:focus,input[type=text]:focus,.form-list select:focus,.cart-collaterals .discount select:focus,.cart-collaterals .shipping select:focus,.cart-collaterals .cart-totals select:focus{
border-color:#e9e9e9;
background:#fff;
color:#555;
}
.block .link-cart{
border:1px solid #ad5f7d;
color:#fff !important;
background:#ad5f7d;
}
.block .link-cart:hover{
border-color:#e1e1e1;
color:#ad5f7d !important;
background:#fff;
}
.block-subtitle{
color:#555;
font-family:Lato;
}
.sidebar .block .actions a{
color:#ad5f7d;
}
.block-account li + li,.block-cms-menu li + li{
border-top:1px solid #e9e9e9;
}
.block-account li.current strong,.block-cms-menu li.current strong{
color:#ad5f7d;
}
.block-layered-nav dt{
background-color:#fff;
border-color:#e9e9e9;
color:#303030;
}
.block-layered-nav li + li{
border-top:1px solid #e9e9e9;
}
.block-layered-nav .currently .value{
color:#ad5f7d;
}
.block-layered-nav .configurable-swatch-list li a > .swatch-label{
border:1px solid #e9e9e9;
}
.block-layered-nav .configurable-swatch-list li:hover a > .swatch-label{
background:#ad5f7d;
border-color:#ad5f7d;
color:#fff;
}
.opc-block-progress .block-content dt{
border-bottom:1px solid #e9e9e9;
}
.opc-block-progress .block-content dd.complete{
border-bottom:1px solid #e9e9e9;
}
.block.block-tags ul.tags-list li a{
border:1px solid #e9e9e9;
}
.block.block-tags ul.tags-list li a:hover{
background:#ad5f7d;
border-color:#ad5f7d;
color:#fff;
}
.block.block-tags .actions a{
color:#ad5f7d;
}
.mini-products-list .price{
color:#ad5f7d;
}
html{
font-size:14px;
}
body{
font-size:14px;
color:#555;
font-family:Lato;
background-color:#fff;
}
a{
color:#ad5f7d;
}
a:hover,a:focus{
color:#333;
}
h1,.h1{
font-size:2em;
}
h2,.h2{
font-size:1.75em;
}
h3,.h3{
font-size:1.429em;
}
h4,.h4{
font-size:1.286em;
}
h5,.h5{
font-size:1.143em;
}
h6,.h6{
font-size:1em;
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
color:#333;
font-family:Oswald;
}
.label,label{
color:#333;
}
.btn3{
}
.global-site-notice{
background:#eee;
}
.promo-msg{
color:#eee;
}
.success{
color:#008000;
}
.error{
color:#f00;
}
.notice{
color:#ffa500;
}
.messages li li{
background:#eee;
}
.messages .error-msg li{
background:#f00;
color:#fff;
}
.messages .notice-msg li{
background:#ffa500;
color:#fff;
}
.messages .success-msg li{
background:#008000;
color:#fff;
}
.toolbar{
color:#555;
background:#fff;
}
.toolbar a,.toolbar .btn{
background:rgba(0, 0, 0, 0);
color:#555;
}
.toolbar a:hover,.toolbar .btn:hover,.toolbar a:active,.toolbar .btn:active,.toolbar a:focus,.toolbar .btn:focus{
background:#ad5f7d;
color:#fff;
}
.toolbar .btn{
border:1px solid #d7d7d7;
}
.toolbar .dropdown-menu a:hover,.toolbar .dropdown-menu a:active,.toolbar .dropdown-menu a:focus{
background:#ad5f7d;
color:#fff;
}
.toolbar .open .btn{
background:#ad5f7d;
color:#fff;
}
.toolbar .view-mode .list,.toolbar .view-mode .grid{
border:1px solid #d7d7d7;
}
.toolbar .view-mode .list:hover,.toolbar .view-mode .grid:hover,.toolbar .view-mode .list:active,.toolbar .view-mode .grid:active,.toolbar .view-mode .list:focus,.toolbar .view-mode .grid:focus{
background-color:transparent;
color:#ad5f7d;
}
.toolbar .view-mode strong{
background-color:transparent;
color:#ad5f7d;
}
.toolbar .bootstrap-select .dropdown-menu{
background:#fff;
border:1px solid #d7d7d7;
}
.toolbar ~ .toolbar .pages ol li{
border:1px solid #d7d7d7;
background:rgba(0, 0, 0, 0);
color:#555;
}
.toolbar ~ .toolbar .pages ol li:hover,.toolbar ~ .toolbar .pages ol li:active,.toolbar ~ .toolbar .pages ol li:focus,.toolbar ~ .toolbar .pages ol li.current{
color:#fff;
border-color:#ad5f7d;
background:#ad5f7d;
}
.highlight-font{
font-family:Lato;
}
.home-block-border{
border:1px solid #e1e1e1;
}
.search-autocomplete{
background:#fff;
}
.search-autocomplete ul li .amount{
color:#000;
}
.search-autocomplete ul li:hover{
background:#ad5f7d;
color:#fff;
}
.slick-slider .slick-dots li button{
border:2px solid #c7c7c7;
background:#c7c7c7;
}
.slick-slider .slick-dots li.slick-active button{
background:transparent;
border-color:#ad5f7d;
}
.owl-carousel .owl-dots .owl-dot{
border:2px solid #c7c7c7;
background:#c7c7c7;
}
.owl-carousel .owl-dots .owl-dot.active{
background:transparent;
border-color:#ad5f7d;
}
.arw-control-color-style-1 .owl-nav .owl-prev,.arw-control-color-style-1 .owl-nav .owl-next{
background-color:#e1e1e1;
border-color:transparent;
color:#fff;
}
.arw-control-color-style-1 .owl-nav .owl-prev:hover,.arw-control-color-style-1 .owl-nav .owl-next:hover,.arw-control-color-style-1 .owl-nav .owl-prev:active,.arw-control-color-style-1 .owl-nav .owl-next:active,.arw-control-color-style-1 .owl-nav .owl-prev:focus,.arw-control-color-style-1 .owl-nav .owl-next:focus{
background-color:#ad5f7d;
border-color:transparent;
color:#fff;
}
.arw-control-color-style-1 .slick-slider .slick-prev,.arw-control-color-style-1 .slick-slider .slick-next{
background-color:transparent;
border-color:transparent;
color:#ad5f7d;
font-size:2em;
}
.arw-control-color-style-1 .slick-slider .slick-prev:hover,.arw-control-color-style-1 .slick-slider .slick-next:hover,.arw-control-color-style-1 .slick-slider .slick-prev:active,.arw-control-color-style-1 .slick-slider .slick-next:active,.arw-control-color-style-1 .slick-slider .slick-prev:focus,.arw-control-color-style-1 .slick-slider .slick-next:focus{
background-color:transparent;
border-color:transparent;
color:#333;
}
.arw-control-color-style-2 .owl-nav .owl-prev,.arw-control-color-style-2 .owl-nav .owl-next{
background-color:#fff;
border-color:#e1e1e1;
color:#333;
}
.arw-control-color-style-2 .owl-nav .owl-prev:hover,.arw-control-color-style-2 .owl-nav .owl-next:hover,.arw-control-color-style-2 .owl-nav .owl-prev:active,.arw-control-color-style-2 .owl-nav .owl-next:active,.arw-control-color-style-2 .owl-nav .owl-prev:focus,.arw-control-color-style-2 .owl-nav .owl-next:focus{
background-color:#ad5f7d;
border-color:#e1e1e1;
color:#fff;
}
.arw-control-color-style-2 .slick-slider .slick-prev,.arw-control-color-style-2 .slick-slider .slick-next{
background-color:transparent;
border-color:transparent;
color:#fff;
}
.arw-control-color-style-2 .slick-slider .slick-prev:hover,.arw-control-color-style-2 .slick-slider .slick-next:hover,.arw-control-color-style-2 .slick-slider .slick-prev:active,.arw-control-color-style-2 .slick-slider .slick-next:active,.arw-control-color-style-2 .slick-slider .slick-prev:focus,.arw-control-color-style-2 .slick-slider .slick-next:focus{
background-color:transparent;
border-color:transparent;
color:#333;
}
.arw-control-color-style-2 .owl-nav .owl-prev,.arw-control-color-style-2 .owl-nav .owl-next{
background-color:#fff;
border-color:#e1e1e1;
color:#333;
}
.arw-control-color-style-2 .owl-nav .owl-prev:hover,.arw-control-color-style-2 .owl-nav .owl-next:hover,.arw-control-color-style-2 .owl-nav .owl-prev:active,.arw-control-color-style-2 .owl-nav .owl-next:active,.arw-control-color-style-2 .owl-nav .owl-prev:focus,.arw-control-color-style-2 .owl-nav .owl-next:focus{
background-color:#ad5f7d;
border-color:#e1e1e1;
color:#fff;
}
.arw-control-color-style-2 .slick-slider .slick-prev,.arw-control-color-style-2 .slick-slider .slick-next{
background-color:transparent;
border-color:transparent;
color:#fff;
}
.arw-control-color-style-2 .slick-slider .slick-prev:hover,.arw-control-color-style-2 .slick-slider .slick-next:hover,.arw-control-color-style-2 .slick-slider .slick-prev:active,.arw-control-color-style-2 .slick-slider .slick-next:active,.arw-control-color-style-2 .slick-slider .slick-prev:focus,.arw-control-color-style-2 .slick-slider .slick-next:focus{
background-color:transparent;
border-color:transparent;
color:#333;
}
.arw-control-color-style-3{
}
.arw-control-color-style-3 .owl-nav .owl-prev,.arw-control-color-style-3 .owl-nav .owl-next{
background-color:#fff;
border-color:#fff;
color:#333;
}
.arw-control-color-style-3 .owl-nav .owl-prev:hover,.arw-control-color-style-3 .owl-nav .owl-next:hover,.arw-control-color-style-3 .owl-nav .owl-prev:active,.arw-control-color-style-3 .owl-nav .owl-next:active,.arw-control-color-style-3 .owl-nav .owl-prev:focus,.arw-control-color-style-3 .owl-nav .owl-next:focus{
background-color:#333;
border-color:#333;
color:#fff;
}
.arw-control-color-style-3 .slick-slider .slick-prev,.arw-control-color-style-3 .slick-slider .slick-next{
background-color:#fff;
border-color:#fff;
color:#333;
}
.arw-control-color-style-3 .slick-slider .slick-prev:hover,.arw-control-color-style-3 .slick-slider .slick-next:hover,.arw-control-color-style-3 .slick-slider .slick-prev:active,.arw-control-color-style-3 .slick-slider .slick-next:active,.arw-control-color-style-3 .slick-slider .slick-prev:focus,.arw-control-color-style-3 .slick-slider .slick-next:focus{
background-color:#333;
border-color:#333;
color:#fff;
}
.banner-title{
color:#343434;
}
.banner-title a:hover,.banner-title a:active,.banner-title a:focus{
color:#ad5f7d;
}
.banner-overlay-primary{
}
.banner-overlay-primary .arw-banner-image:before{
background:#ad5f7d !important;
}
.banner-overlay-primary .arw-banner-content a:hover{
color:#fff !important;
}
.process-steps li.active .step{
background-color:#333;
border-color:#333;
color:#fff;
}
.process-steps .step{
border:2px solid #e1e1e1;
}
.process-steps h5{
font-family:Lato;
}
.process-steps h5 span{
color:#333;
}
.product-image-slideshow .catalog-owl-nav .catalog-owl-next,.product-image-slideshow .catalog-owl-nav .catalog-owl-prev{
border-color:#fff;
background:#fff;
color:#ad5f7d;
}
.product-image-slideshow .catalog-owl-nav .catalog-owl-next:hover,.product-image-slideshow .catalog-owl-nav .catalog-owl-prev:hover{
background:#ad5f7d;
border-color:#ad5f7d;
color:#fff;
}
.border-color{
border-color:#e1e1e1;
}
.color-heading{
color:#333;
}
.text-color-heading{
color:#333;
}
.background-heading{
background-color:#333 !important;
}
.background-primary{
background-color:#ad5f7d !important;
}
.background-body{
background-color:#fff !important;
}
.border-color-primary{
border-color:#ad5f7d !important;
}
.border-color-heading{
border-color:#333 !important;
}
.text-color-primary{
color:#ad5f7d !important;
}
.color-primary{
color:#ad5f7d !important;
}
.text-color-body{
color:#555 !important;
}
.color-body{
color:#555 !important;
}
.featured-list li{
color:#333;
}
.featured-list li:hover > .feature-list-icon,.featured-list li:active > .feature-list-icon,.featured-list li:focus > .feature-list-icon{
border-color:#ad5f7d;
}
.featured-list li > .feature-list-icon{
border:1px solid #e1e1e1;
}
.list-icon li{
color:#333;
}
.list-icon li > .fa,.list-icon li > i{
color:#ad5f7d;
}
.list-icon li a:hover,.list-icon li a:active,.list-icon li a:focus{
color:#333;
}
.social-icon:hover,.social-icon:active,.social-icon:focus{
border-color:#ad5f7d;
}
.social-icon.style-1{
background-color:#fff;
border-color:#fff;
color:#333;
}
.social-icon.style-1:hover,.social-icon.style-1:active,.social-icon.style-1:focus{
background-color:#ad5f7d;
border-color:#ad5f7d;
color:#fff;
}
.flickr-image{
}
.flickr-image:after{
background-color:#ad5f7d;
}
.arw-toggle-container{
}
.arw-toggle-container .arw-toggle-control > i,.arw-toggle-container .arw-toggle-control > .fa{
color:#ad5f7d;
}
.arw-toggle-container .arw-toggle-content{
background-color:#fff;
border:1px solid #e1e1e1;
color:#333;
}
.arw-toggle-container .arw-toggle-content li{
background-color:rgba(0, 0, 0, 0);
color:#333;
}
.arw-toggle-container .arw-toggle-content li:hover,.arw-toggle-container .arw-toggle-content li:active,.arw-toggle-container .arw-toggle-content li:focus,.arw-toggle-container .arw-toggle-content li.active{
background-color:rgba(0, 0, 0, 0);
color:#ad5f7d;
}
.progress{
background-color:#bebebe;
}
.progress-bar{
background-color:#333;
}
.progress-container{
color:#333;
}
.testi-content p{
font-family:Lato;
}
.testi-meta{
color:#ad5f7d;
}
.feature-box.boxed{
border:1px solid #e1e1e1;
}
.feature-box.boxed .feature-box-icon{
background-color:#fff;
}
.feature-box.boxed .feature-box-icon > i{
color:#333;
}
.feature-box-info p{
font-family:Lato;
}
.heading-block.style-1 h3:after{
border-top:2px solid #ad5f7d;
}
.heading-block.style-2 h2,.heading-block.style-2 h3{
font-family:Lato;
}
.heading-block.style-3 > span{
font-family:Lato;
}
.heading-block.style-4{
background-color:#f1f1f1;
}
.heading-block.style-5 h3:after{
border-top:2px solid #e1e1e1;
}
.heading-block.style-5.text-center h3:before{
border-top:2px solid #e1e1e1;
}
.our-team-image:after{
background-color:#333;
}
.our-team-content{
}
.our-team-content .name{
color:#333;
}
.our-team-content .position{
color:#ad5f7d;
}
.text-alt{
color:#fff;
}
.text-alt h1,.text-alt h2,.text-alt h3,.text-alt h4,.text-alt h5,.text-alt h6,.text-alt a{
color:inherit;
}
.text-alt .button{
border-color:rgba(255, 255, 255, 0.4);
color:#fff;
}
.text-alt .button:hover,.text-alt .button:active,.text-alt .button:focus{
background-color:#fff;
border-color:#e1e1e1;
color:#ad5f7d;
}
.text-alt.heading-block h3{
color:#e8e9eb;
}
.text-alt.heading-block.style-1 h3:after{
border-color:currentColor;
}
.text-alt .feature-box-icon{
border-color:rgba(255, 255, 255, 0.3);
}
.newsletter-style-1 .block-subscribe .block-content .actions .button{
color:#ad5f7d;
}
.products-tab .nav-tabs > li > a:hover,.products-tab .nav-tabs > li > a:focus,.products-tab .nav-tabs > li > a:active{
color:#333;
}
.products-tab .nav-tabs > li.active > a{
color:#333;
}
.products-tab .nav-tabs > li.active > a:hover,.products-tab .nav-tabs > li.active > a:focus{
color:#333;
}
.products-list-full .products-list .price-box .special-price,.products-list-full .products-list .price-box .regular-price{
color:#333;
}
.products-list-mini .products-list .btn-cart,.products-list-mini .products-list .link-compare,.products-list-mini .products-list .link-wishlist{
background-color:transparent;
color:#555;
border:1px solid #e1e1e1;
}
.products-list-mini .products-list .btn-cart:hover,.products-list-mini .products-list .link-compare:hover,.products-list-mini .products-list .link-wishlist:hover,.products-list-mini .products-list .btn-cart:active,.products-list-mini .products-list .link-compare:active,.products-list-mini .products-list .link-wishlist:active,.products-list-mini .products-list .btn-cart:focus,.products-list-mini .products-list .link-compare:focus,.products-list-mini .products-list .link-wishlist:focus{
background-color:#ad5f7d;
color:#fff;
}
.arw-thumbnail-container{
}
.arw-thumbnail-container img:hover,.arw-thumbnail-container img:active,.arw-thumbnail-container img:focus,.arw-thumbnail-container img.active{
border-color:#ad5f7d;
}
.divider{
color:#e1e1e1;
}
form .legend{
border-bottom:1px solid #e1e1e1;
}
label.required:after,span.required:after{
color:#f00;
}
input[disabled]{
background:#e9e9e9;
}
.input-text.validation-failed{
border-color:#f00;
}
.input-text.validation-failed:focus{
outline-color:#f00;
}
::-webkit-input-placeholder{
color:#555;
}
p.required,.validation-advice{
color:#f00;
}
#login-form{
border-color:#e1e1e1;
}
.page-contact form .legend,.page-contact .title{
border-bottom:1px solid #e1e1e1;
}
.nav > li > a:hover,.nav > li > a:focus{
color:#333;
}
.nav > li.disabled > a:hover,.nav > li.disabled > a:focus{
color:#ad5f7d;
}
.nav .open > a,.nav .active > a,.nav .open > a:hover,.nav .active > a:hover,.nav .open > a:focus,.nav .active > a:focus{
color:#333;
}
.nav-tabs{
border-bottom:1px solid #e1e1e1;
}
.nav-pills > li.active > a,.nav-pills > li.active > a:hover,.nav-pills > li.active > a:focus{
color:#333;
}
.nav-tabs-justified > .active > a,.nav-tabs.nav-justified > .active > a,.nav-tabs-justified > .active > a:hover,.nav-tabs.nav-justified > .active > a:hover,.nav-tabs-justified > .active > a:focus,.nav-tabs.nav-justified > .active > a:focus{
border:1px solid #e1e1e1;
}
@media (min-width:768px){
.nav-tabs-justified > li > a,.nav-tabs.nav-justified > li > a{
border-bottom:1px solid #e1e1e1;
}
.nav-tabs-justified > .active > a,.nav-tabs.nav-justified > .active > a,.nav-tabs-justified > .active > a:hover,.nav-tabs.nav-justified > .active > a:hover,.nav-tabs-justified > .active > a:focus,.nav-tabs.nav-justified > .active > a:focus{
border-bottom-color:#e1e1e1;
}
}
.dropdown-menu > li > a{
color:#ad5f7d;
}
.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus{
color:#333;
}
.dropdown-menu > .active > a,.dropdown-menu > .active > a:hover,.dropdown-menu > .active > a:focus{
color:#333;
}
.dropdown-menu > .disabled > a,.dropdown-menu > .disabled > a:hover,.dropdown-menu > .disabled > a:focus{
color:#555;
}
.dropdown-header{
color:#555;
}
th{
color:#303030;
}
.data-table{
background:#fff;
}
.data-table thead{
border-color:#e9e9e9;
background:#fff;
color:#303030;
}
.data-table th{
border-color:#e9e9e9;
}
.data-table tbody tr{
border-color:#e9e9e9;
}
.data-table tr td{
border-color:#e9e9e9;
}
.data-table tfoot{
border-top:1px solid #e9e9e9;
}
.table,.data-table{
color:#747474;
}
.table a,.data-table a{
color:#303030;
}
.table a:hover,.data-table a:hover{
color:#7e883a;
}
#product-attribute-specs-table,#product-attribute-specs-table th,#product-attribute-specs-table td{
border:1px solid #e9e9e9;
}
@media (max-width:767px){
table.arw-responsive-table td:before{
color:#303030;
}
}
.footer-container{
background:#333;
color:#999;
}
.footer-container a{
color:#999;
}
.footer-container a:hover{
color:#fff;
}
.footer-container .block .block-title{
color:#fff;
}
.footer-container .block .block-title:after{
border-top:2px solid #fff;
}
.footer-container .footer-top-container{
background-color:rgba(0, 0, 0, 0);
}
.footer-container .footer-copyright{
background:#1f1f1f;
color:#4c4c4c;
}
.footer-container .footer-copyright a{
color:#747474;
}
.footer-container .footer-copyright a:hover{
color:#7e883a;
}
.main{
background:#fff;
}
.arw-page-title{
background-color:#ebebeb;
}
.arw-page-title .arw_breadcrumbs .breadcrumbs li a{
color:#747474;
}
.arw-page-title .arw_breadcrumbs .breadcrumbs li a:hover{
color:#7e883a;
}
.arw-page-title .arw_breadcrumbs .breadcrumbs li strong{
color:#747474;
}
.arw-page-title .arw_breadcrumbs .breadcrumbs li span{
color:#747474;
}
.arw-page-title.has-breadcrumb-image .arw_breadcrumbs .breadcrumbs li a:hover,.arw-page-title.has-breadcrumb-image .arw_breadcrumbs .breadcrumbs li a:active,.arw-page-title.has-breadcrumb-image .arw_breadcrumbs .breadcrumbs li a:focus{
color:#7e883a;
}
.arw-product-labels .product-sale-label{
background:#7e883a;
color:#fff;
border-color:#7e883a;
}
.arw-product-labels .product-new-label{
background:#ad5f7d;
color:#fff;
border-color:#ad5f7d;
}
.header-container{
background:#1b1b1b;
color:#676767;
}
.header-container .header-top{
color:#676767;
}
.header-container a{
color:#4d4d4d;
}
.header-container a:hover,.header-container a:active,.header-container a:focus{
color:#fff;
}
.header-container .active > a{
color:#fff;
}
.header-container .header-mini-cart .mini-cart-header{
color:#4d4d4d;
}
.header-container .header-mini-cart .mini-cart-header .fa{
color:#ad5f7d;
}
.header-container .header-mini-cart #arw_mini_cart_header{
background-color:#fff;
border:1px solid #e1e1e1;
color:#333;
}
.header-container .block-cart .mini-products-list li.item .btn-remove{
color:#4d4d4d;
}
.header-container .block-cart .mini-products-list li.item .btn-remove:hover,.header-container .block-cart .mini-products-list li.item .product-name a:hover{
color:#fff;
}
.header-container .block-cart .subtotal .price{
color:#ad5f7d;
}
.header-container .arw-search-control{
color:#4d4d4d;
}
.header-container .arw-search-control:hover,.header-container .arw-search-control:active,.header-container .arw-search-control:focus{
color:#fff;
}
.header-container .nav-primary-container .search_mini_form{
color:#676767;
}
.header-container .nav-primary-container .search_mini_form .input-text{
background:#1b1b1b;
color:#676767;
}
.header-container .nav-primary-container .search_mini_form .form-search button[type="submit"]{
color:#4d4d4d;
}
.header-container .nav-primary-container .search_mini_form .form-search button[type="submit"]:hover,.header-container .nav-primary-container .search_mini_form .form-search button[type="submit"]:active,.header-container .nav-primary-container .search_mini_form .form-search button[type="submit"]:focus{
color:#fff;
}
.header-style-3 .header-container .header-quick-access .arw-search-content{
background-color:#1b1b1b;
}
.header-style-3 .header-container .header-quick-access .form-search button[type="submit"]{
background-color:#1b1b1b;
color:#676767;
}
@media (min-width:768px){
.layout-float-header .header-container{
color:#fff;
}
.layout-float-header .header-container .arw-toggle-control{
color:inherit;
}
.layout-float-header .header-container .arw-toggle-control > .fa,.layout-float-header .header-container .arw-toggle-control > i{
color:inherit;
}
.layout-float-header .header-container .list-icon li{
color:inherit;
}
.layout-float-header .header-container .list-icon li > .fa,.layout-float-header .header-container .list-icon li > i{
color:inherit;
}
.layout-float-header .header-container:not(.active-sticky) .arw-search-control:hover,.layout-float-header .header-container:not(.active-sticky) .arw-search-control:active,.layout-float-header .header-container:not(.active-sticky) .arw-search-control:focus{
color:#fff;
}
.layout-float-header .header-container:not(.active-sticky) .nav-primary-container{
background:transparent;
}
.layout-float-header .header-container:not(.active-sticky) .nav-primary-container .megamenu > li > a,.layout-float-header .header-container:not(.active-sticky) .nav-primary-container ul#nav > li > a{
color:#fff;
}
.layout-float-header .header-container:not(.active-sticky) .nav-primary-container .megamenu > li > a:hover,.layout-float-header .header-container:not(.active-sticky) .nav-primary-container ul#nav > li > a:hover{
color:#ad5f7d;
}
.layout-float-header .header-container .arw-mobile-menu{
color:#676767;
}
}
.nav-primary-container ul#nav > li > a{
background:transparent;
color:#676767;
}
.nav-primary-container ul#nav > li > a > span{
display:inline-block;
}
.nav-primary-container ul#nav > li:hover > a,.nav-primary-container ul#nav > li.active > a{
background:#2c2c2c;
color:#fff;
}
.nav-primary-container ul#nav ul{
background:#fff;
}
.nav-primary-container ul#nav ul ul{
background:#eaeaea;
}
.nav-primary-container ul#nav > li > ul > li > a{
background:rgba(0, 0, 0, 0);
color:#333;
}
.nav-primary-container ul#nav > li > ul > li:hover > a,.nav-primary-container ul#nav > li > ul > li.active > a{
background:rgba(0, 0, 0, 0);
color:#ad5f7d;
}
.nav-primary-container ul#nav li li ul,.nav-primary-container ul#nav li.level1 ul.level1{
background:#eaeaea;
}
.nav-primary-container ul#nav li li ul li > a,.nav-primary-container ul#nav li.level1 ul.level1 li > a{
background:rgba(0, 0, 0, 0);
color:#333;
}
.nav-primary-container ul#nav li li ul li.active > a,.nav-primary-container ul#nav li.level1 ul.level1 li.active > a,.nav-primary-container ul#nav li li ul li:hover > a,.nav-primary-container ul#nav li.level1 ul.level1 li:hover > a{
background:rgba(0, 0, 0, 0);
color:#ad5f7d;
}
.nav-primary-container ul#nav ul li + li > a{
border-top:1px solid #333;
}
.nav-primary-container ul#nav ul li li + li > a{
border-top:1px solid #333;
}
.sidebar .block{
color:#333;
}
.sidebar .block .block-title{
background:#fff;
border-color:#e9e9e9;
color:#303030;
}
.sidebar .block.block-list ul li + li,.sidebar .block.block-list ol li + li{
border-top:1px solid #e9e9e9;
}
.sidebar .block .block-content{
background:#fff;
}
.sidebar .block .block-content p.empty{
border:1px solid #e9e9e9;
}
.sidebar .block a{
color:#333;
}
.sidebar .block a:hover{
color:#ad5f7d;
}
.sidebar .block.block-nav a{
color:#333;
}
.sidebar .block.block-nav li:hover > a,.sidebar .block.block-nav li.active > a{
color:#ad5f7d;
}
.sidebar .form-subscribe-header{
color:#555;
font-family:Lato;
}
.post-item .post-category{
color:#ad5f7d;
font-family:Lato;
}
.post-item .post-title a:hover,.post-item .post-title a:active,.post-item .post-title a:focus{
color:#333;
}
.post-item .post-meta{
border-top:1px solid #e1e1e1;
border-bottom:1px solid #e1e1e1;
}
.post-item .post-meta .post-by a{
color:#ad5f7d;
}
.post-item .post-meta i{
color:#ad5f7d;
}
.blockquote{
border:1px solid #e1e1e1;
color:#333;
font-family:Lato;
}
.tags .tags li a{
border:2px solid #e1e1e1;
color:#515151;
}
.tags .tags li a:hover,.tags .tags li a:active,.tags .tags li a:focus{
background-color:#ad5f7d;
border-color:#ad5f7d;
color:#fff;
}
.block-recent-post ul li .post-category{
color:#ad5f7d;
font-family:Lato;
}
.block-recent-post ul li + li{
border-top:1px solid #e9e9e9;
}
#commentAccordion .panel-heading{
background-color:#e1e1e1;
color:#333;
}
.commentWrapper h4.username{
color:#ad5f7d;
}
#postComment .fieldset p.required{
color:#333;
font-family:Lato;
}
.template_2 .post-item-inner{
background-color:#333;
}
.template_2 .post-item-inner .post-thumbnail .post-date{
background-color:#fff;
color:#555;
}
.template_2 .post-item-inner .post-meta a:hover,.template_2 .post-item-inner .post-meta a:active,.template_2 .post-item-inner .post-meta a:focus{
color:#333;
}
#checkoutSteps .section .step-title{
color:#333;
border-bottom:1px solid #e1e1e1;
}
#checkoutSteps .section.active.allow{
border-bottom:1px solid #e1e1e1;
}
#checkoutSteps .section .step select{
border:1px solid #e9e9e9;
}
#checkoutSteps .section .step .sp-methods dt{
color:#333;
}
#checkoutSteps .section .step .data-table .price{
color:#ad5f7d;
}
ul#checkout-progress-state li{
background:#fff;
color:#303030;
}
ul#checkout-progress-state li.active{
background:#ad5f7d;
color:#fff;
}
.multiple-checkout form,.multiple-checkout table,.multiple-checkout .col3-set{
background:#fff;
}
.multiple-checkout #multishipping-billing-form #payment-tool-tip{
background:#fff;
}
.multiple-checkout #checkout-review-submit .grand-total .price{
color:#ad5f7d;
}
.multiple-checkout > p{
background:#fff;
}
.data-table strong .price{
color:#ad5f7d;
}
.arw-parallax-slider .parallax-body .parallax-content-slider .content-slider .slider-button a:hover{
border-color:#ad5f7d;
background:#ad5f7d;
}
.parallax-dots a span{
font-family:Lato;
}
.dashboard .box-account .box-head{
color:#303030;
}
.dashboard .box-account li.item + li{
border-top:1px solid #e1e1e1;
}
.dashboard .box-account > .col2-set > .box .box-title h3{
color:#303030;
}
.my-account .product-review .product-img-box .label{
font-family:Lato;
}
.my-account .product-review .product-details dt{
color:#555;
}
.my-account .my-tag-edit .btn-remove:hover{
color:#333;
}
.my-account #my-tags-table .add-to-links a{
background:#ad5f7d;
color:#fff;
}
.my-account #my-tags-table .add-to-links a:hover{
background:#fff;
}
.products-list .product-name a,.products-grid .product-name a{
color:#333;
}
.products-list .product-name a:hover,.products-grid .product-name a:hover{
color:#ad5f7d;
}
.products-list .configurable-swatch-list span,.products-grid .configurable-swatch-list span{
border-color:#e1e1e1;
}
.products-grid .btn-cart{
background:#ad5f7d;
color:#fff;
border-color:#ad5f7d;
}
.products-grid .btn-cart:hover{
background:#fff;
color:#ad5f7d;
border-color:#e1e1e1;
}
.products-grid .link-wishlist{
background:#fff;
color:#555;
border-color:#e1e1e1;
}
.products-grid .link-wishlist:hover{
background:#ad5f7d;
color:#fff;
border-color:#e1e1e1;
}
.products-grid .link-compare{
background:#fff;
color:#555;
border-color:#e1e1e1;
}
.products-grid .link-compare:hover{
background:#ad5f7d;
border-color:#e1e1e1;
color:#fff;
}
.products-grid .link-quickview{
background:rgba(0, 0, 0, 0);
color:#fff;
border-color:#fff;
}
.products-grid .link-quickview:hover{
background:#fff;
color:#333;
border-color:#fff;
}
.products-grid .price-box .minimal-price .price,.products-grid .price-box .special-price,.products-grid .price-box .regular-price{
color:#ad5f7d;
}
.products-grid .price-box .price-from .price,.products-grid .price-box .price-to .price{
color:#ad5f7d;
}
.products-grid .availability span{
background:#ad5f7d;
color:#fff;
border-color:#ad5f7d;
}
.products-list li.item + li.item{
border-top-color:#e9e9e9;
}
.products-list .product-name a{
color:#333;
}
.products-list .product-name a:hover{
color:#ad5f7d;
}
.products-list .price-box .special-price,.products-list .price-box .regular-price{
color:#ad5f7d;
}
.products-list .btn-cart{
background:#ad5f7d;
color:#fff;
border-color:#ad5f7d;
}
.products-list .btn-cart:hover{
background:#fff;
color:#ad5f7d;
border-color:#e1e1e1;
}
.products-list .link-wishlist{
background:rgba(0, 0, 0, 0);
color:#333;
border-color:#e1e1e1;
}
.products-list .link-wishlist:hover{
background:#ad5f7d;
color:#fff;
border-color:#e1e1e1;
}
.products-list .link-compare{
background:rgba(0, 0, 0, 0);
color:#333;
border-color:#e1e1e1;
}
.products-list .link-compare:hover{
background:#ad5f7d;
color:#fff;
border-color:#e1e1e1;
}
.products-list .link-quickview{
background:rgba(0, 0, 0, 0);
color:#fff;
border-color:#fff;
}
.products-list .link-quickview:hover{
background:#fff;
color:#333;
border-color:#e1e1e1;
}
.product-view .product-shop-inner{
background-color:#fff;
}
.product-view .product-essential .product-name{
color:#333;
}
.product-view .product-essential .availability span{
color:#333;
}
.product-view .product-essential .availability.out-of-stock span:before{
color:#f00;
}
.product-view .product-essential .rating-links,.product-view .product-essential .no-rating{
color:#555;
}
.product-view .product-essential .arw-box-quantity .input-text{
color:#333;
}
.product-view .product-essential .arw-box-quantity button{
color:#333;
}
.product-view .product-essential .arw-box-quantity button:hover,.product-view .product-essential .arw-box-quantity button:active,.product-view .product-essential .arw-box-quantity button:focus{
background-color:#ad5f7d;
color:#fff;
}
.product-view .product-essential .btn-cart{
background:#ad5f7d;
color:#fff;
border-color:#e9e9e9;
}
.product-view .product-essential .btn-cart:hover{
background:#fff;
color:#ad5f7d;
border-color:#e9e9e9;
}
.product-view .product-essential .link-wishlist{
background:#fff;
color:#333;
border-color:#e9e9e9;
}
.product-view .product-essential .link-wishlist:hover{
background:#ad5f7d;
color:#fff;
border-color:#e9e9e9;
}
.product-view .product-essential .link-compare{
background:#fff;
color:#333;
border-color:#e9e9e9;
}
.product-view .product-essential .link-compare:hover{
background:#ad5f7d;
color:#fff;
border-color:#e9e9e9;
}
.product-view .product-essential .price-box-bundle .price-box .price-label{
font-family:Lato;
}
.product-view .product-essential .price-as-configured .price-label{
font-family:Lato;
}
.product-view .product-essential .full-product-price .price{
color:#ad5f7d;
}
.product-view .product-essential .price-box .special-price,.product-view .product-essential .price-box .regular-price{
color:#ad5f7d;
}
.product-view .product-essential .price-box .price-from .price,.product-view .product-essential .price-box .price-to .price{
color:#ad5f7d;
}
.product-view .product-essential .sharing-links li label{
color:#555;
}
.product-view .product-essential .sharing-links li a{
color:#555;
}
.product-view .product-essential .sharing-links li a:hover,.product-view .product-essential .sharing-links li a:focus,.product-view .product-essential .sharing-links li a:active{
color:#333;
}
.product-view #product-options-wrapper select{
border-color:#e9e9e9;
color:#333;
}
.product-review dt{
color:#333;
}
.product-collateral .product-collateral-item .widget{
background-color:#fff;
}
.product-shop .grouped-items-table .name-wrapper{
color:#555;
}
.product-tabs-content a{
color:#333;
}
.product-tabs-content a:hover{
color:#ad5f7d;
}
.product_details_tabs .product-tabs li > a{
color:#555;
background:#fff;
}
.product_details_tabs .product-tabs li.active a,.product_details_tabs .product-tabs li:hover a{
border-bottom:1px solid #ad5f7d;
color:#ad5f7d;
background:#fff;
}
.product_details_tabs .product-tabs-content{
border-color:#e9e9e9;
color:#555;
background:#fff;
}
.product_details_tabs .product-accordion-heading{
color:#555;
background:#fff;
border-color:#e9e9e9;
}
.product_details_tabs .product-accordion-heading.active,.product_details_tabs .product-accordion-heading:hover{
color:#ad5f7d;
background:#fff;
}
.product_details_tabs.active_mode_accordion .product-accordion-heading.active + .product-tabs-content,.product_details_tabs.mode_accordion .product-accordion-heading.active + .product-tabs-content{
border-color:#e9e9e9;
}
.arw-block-related .arw-title h2:after{
border-top-color:#ad5f7d;
}
#customer-reviews dl dt{
color:#555;
}
#customer-reviews dl dd strong{
color:#333;
}
.block-message-cart .arw-services-box.active .service-title,.block-message-cart .arw-services-box.active .service-icon{
color:#ad5f7d;
}
.data-table.cart-table tbody tr{
border-top-color:#e9e9e9;
}
.cart-table .price{
color:#ad5f7d;
}
.cart-table .arw-box-quantity .input-text{
color:#333;
}
.cart-table .arw-box-quantity button{
color:#333;
}
.cart-table .arw-box-quantity button:hover,.cart-table .arw-box-quantity button:active,.cart-table .arw-box-quantity button:focus{
background-color:#ad5f7d;
color:#fff;
}
.cart-collaterals .discount > h2,.cart-collaterals .shipping > h2,.cart-collaterals .cart-totals > h2{
background:#fff;
border-bottom-color:#e9e9e9;
color:#303030;
}
.cart-collaterals .discount label,.cart-collaterals .shipping label,.cart-collaterals .cart-totals label{
color:#555;
font-family:Lato;
}
.cart-collaterals .discount li .radio + label,.cart-collaterals .shipping li .radio + label,.cart-collaterals .cart-totals li .radio + label,.cart-collaterals .discount li .checkbox + label,.cart-collaterals .shipping li .checkbox + label,.cart-collaterals .cart-totals li .checkbox + label{
color:#333;
}
.cart-collaterals .discount .sp-methods dt,.cart-collaterals .shipping .sp-methods dt,.cart-collaterals .cart-totals .sp-methods dt{
color:#333;
}
.cart-collaterals .discount .form-list label,.cart-collaterals .shipping .form-list label,.cart-collaterals .cart-totals .form-list label{
color:#333;
}
.cart-collaterals #shipping-zip-form > p{
font-family:Lato;
}
.cart-collaterals .cart-totals #shopping-cart-totals-table{
color:#333;
}
.cart-collaterals .cart-totals #shopping-cart-totals-table tfoot strong .price{
color:#ad5f7d;
}
#toPopup{
background:#fff;
color:#555;
}
#toPopup select{
border-color:#e9e9e9;
}
#toPopup .price{
color:#ad5f7d;
}
.sidebar ul.chars-filter li.active a,.sidebar ul.chars-filter li a:hover{
background:#ad5f7d;
color:#fff;
}
.brands-list .brand-item .brand-title a{
color:#ad5f7d;
}
.brands-list .brand-item .brand-title a:hover,.brands-list .brand-item .brand-title a:active,.brands-list .brand-item .brand-title a:focus{
color:#333;
}
.price-slider{
background:#555;
}
.layer-price{
color:#333;
}
.layer-price-filter > label{
color:#333;
}
.noUi-horizontal .noUi-handle{
background:#ad5f7d;
border-color:#ad5f7d;
}
.noUi-horizontal .noUi-handle:hover,.noUi-horizontal .noUi-handle:focus{
background-color:#fff;
}
[disabled].noUi-connect,[disabled] .noUi-connect{
background:#e9e9e9;
}
.nav-primary-container{
background:transparent;
color:#333;
}
.megamenu{
}
.megamenu .sub-wrapper{
border-color:#e1e1e1;
}
.megamenu .arwmenu-block .groups .title-group{
color:#333;
}
.megamenu > li > a{
background:transparent;
color:#676767;
}
.megamenu > li > a > span{
display:inline-block;
}
.megamenu > li > a > .item-has-sub{
display:none;
}
.megamenu > li:hover > a,.megamenu > li.active > a{
background:#2c2c2c;
color:#fff;
}
.megamenu > li > .sub-wrapper{
background:#fff;
}
.megamenu > li > .sub-wrapper li.level1 > a{
background:rgba(0, 0, 0, 0);
color:#333;
}
.megamenu > li > .sub-wrapper li.level1.active > a,.megamenu > li > .sub-wrapper li.level1:hover > a{
background:rgba(0, 0, 0, 0);
color:#ad5f7d;
}
.megamenu li.menu-style-group .level1 > .groups-wrapper,.megamenu li.menu-style-group .level1 > .groups-wrapper > ul{
background:#fff;
}
.megamenu li.level1 .groups-wrapper,.megamenu li.level1 .sub-wrapper{
background:#eaeaea;
}
.megamenu li.level1 .groups-wrapper li.level2 > a,.megamenu li.level1 .sub-wrapper li.level2 > a{
background:rgba(0, 0, 0, 0);
color:#333;
}
.megamenu li.level1 .groups-wrapper li.level2.active > a,.megamenu li.level1 .sub-wrapper li.level2.active > a,.megamenu li.level1 .groups-wrapper li.level2:hover > a,.megamenu li.level1 .sub-wrapper li.level2:hover > a{
background:rgba(0, 0, 0, 0);
color:#ad5f7d;
}
.megamenu li li ul,.megamenu li.level1 ul.level1{
background:#eaeaea;
}
.megamenu li li ul li > a,.megamenu li.level1 ul.level1 li > a{
background:rgba(0, 0, 0, 0);
color:#333;
}
.megamenu li li ul li.active > a,.megamenu li.level1 ul.level1 li.active > a,.megamenu li li ul li:hover > a,.megamenu li.level1 ul.level1 li:hover > a{
background:rgba(0, 0, 0, 0);
color:#ad5f7d;
}
.nav-accordion li.level0 + li{
border-top-color:#e9e9e9;
}
.nav-accordion li.parent .expand{
color:#333;
}
.nav-accordion li.parent > span:hover{
color:#333;
}
.nav-accordion li.active > a{
color:#333;
}
.cat-label-1{
background-color:rgba(0, 0, 0, 0);
}
.cat-label-2{
background-color:rgba(0, 0, 0, 0);
}
.cat-label-3{
background-color:rgba(0, 0, 0, 0);
}
.cat-label-4{
background-color:rgba(0, 0, 0, 0);
}
.arw-mobile-menu{
background:#fff;
}
.arw-mobile-menu-header{
background:#ad5f7d;
color:#fff;
}
.nav-mobile-accordion.nav-accordion li.parent > span{
color:#333;
}
.nav-mobile-accordion.nav-accordion li.parent > span:hover{
color:#ad5f7d;
}
.nav-mobile-accordion.nav-accordion li a{
color:#333;
}
.nav-mobile-accordion.nav-accordion li:hover > a,.nav-mobile-accordion.nav-accordion li.active > a{
color:#ad5f7d;
}
.nav-mobile-accordion.nav-accordion li li > a{
color:#2e2e2e;
}
.nav-mobile-accordion.nav-accordion li li:hover > a,.nav-mobile-accordion.nav-accordion li li.active > a{
color:#ad5f7d;
}
.arw-toggle-menu-mobile{
background:rgba(0, 0, 0, 0);
color:#71706f;
}
.cloud-zoom-big{
border-color:#e9e9e9;
}
.more-views .slick-slider .slick-next,.more-views .slick-slider .slick-prev{
color:#ad5f7d;
}
.more-views .slick-slider .slick-next:hover,.more-views .slick-slider .slick-prev:hover{
color:#fff;
}
.tp-caption.messic_fashion_1_transparent_bg_border_white_14 a,.tp-caption.messic_fashion_1_primary_bg_white_14 a,.tp-caption.messic_fashion_4_primary_bg_white_14 a,.tp-caption.messic_fashion_2_transparent_bg_border_white_14 a,.tp-caption.messic_fashion_2_transparent_bg_border_white_hover_black_14 a,.tp-caption.messic_fashion_3_transparent_bg_border_white_hover_white_14 a{
color:#fff;
}
.tp-caption.messic_fashion_1_primary_bg_14 a{
color:#fff;
background-color:#ad5f7d;
border-color:#ad5f7d;
}
.tp-caption.messic_fashion_3_white_bg_14 a{
color:#333;
}
.tp-caption.messic_fashion_3_white_bg_14 a:hover{
color:#333;
}
.tp-caption.messic_fashion_1_transparent_bg_border_white_14 a:hover,.tp-caption.messic_fashion_2_transparent_bg_border_white_14 a:hover{
background-color:#ad5f7d;
border-color:#ad5f7d;
}
.tp-caption.messic_fashion_2_transparent_bg_border_white_hover_black_14 a:hover{
background-color:#333;
border-color:#333;
}
.tp-caption.messic_fashion_1_primary_bg_white_14 a:hover,.tp-caption.messic_fashion_4_primary_bg_white_14 a:hover{
background-color:#ad5f7d;
}
.tp-caption.messic_fashion_3_transparent_bg_border_white_hover_white_14 a:hover{
background-color:#fff;
border-color:#fff;
color:#333;
}
.tp-caption.messic_watches_white_button_12 a,.tp-caption.messic_watches_black_button_12 a{
color:#fff;
}
.tp-caption.messic_watches_white_button_12 a:hover,.tp-caption.messic_watches_black_button_12 a:hover{
color:#fff;
}
.tp-caption.messic_watches_gray_border_nobg_button_10 a,.tp-caption.messic_watches_gray_border_nobg_button_12 a{
color:#333;
}
.tp-caption.messic_watches_gray_border_nobg_button_10 a:hover,.tp-caption.messic_watches_gray_border_nobg_button_12 a:hover{
color:#fff;
background-color:#ad5f7d;
border-color:#ad5f7d;
}
.tp-caption.messic_cosmetic_primary_button_14 a,.tp-caption.messic_cosmetic_black_button_14 a{
color:#fff;
}
.tp-caption.messic_cosmetic_primary_button_14 a:hover,.tp-caption.messic_cosmetic_black_button_14 a:hover{
color:#fff;
}
.product-options .swatch-link{
border:1px solid #e1e1e1;
}
li.selected .swatch-link{
border-color:#ad5f7d;
background:#ad5f7d;
color:#fff;
}
.not-available .swatch-link{
border-color:#bd7f97;
background:#bd7f97;
color:#fff;
}
.swatch-link .x{
border-top-color:#e1e1e1;
}
.currently .swatch-link:hover{
border-color:#ad5f7d;
}
.configurable-swatch-list .hover .swatch-link,.configurable-swatch-list .selected .swatch-link,.swatch-link:hover{
border-color:#ad5f7d;
}
.configurable-swatch-box .validation-advice{
background:#f00;
color:#fff !important;
}
.block-category-in-slider .block-title{
background-color:#ad5f7d;
color:#fff;
}
.block-category-in-slider .block-content{
background-color:#fff;
border:1px solid #e9e9e9;
}
@media (min-width:992px){
.block-category-in-slider .nav-accordion li.parent > ul{
border:1px solid #e1e1e1;
}
.block-category-in-slider .nav-accordion li > a{
border-bottom-color:#e1e1e1;
}
}
.footer-container{
}
.footer-container .footer-top-container{
background-image:url(http://dev.com/arw_messic/media/wysiwyg/arw/messic/_backgrounds/default/newsletter_bg.jpg);
}
@media (min-width:1200px){
.body-stretched .container{
width :1170px;
}
}
.header-container.header_fixed_menu.active-sticky .nav-primary-container .wrap-nav{
max-width :1170px;
}
