<?xml version="1.0"?>
<config>
    <modules>
        <Netstarter_Location>
            <version>0.8.0</version>
        </Netstarter_Location>
    </modules>
    <global>
        <blocks>
            <location>
                <class>Netstarter_Location_Block</class>
            </location>
        </blocks>
        <helpers>
            <location>
                <class>Netstarter_Location_Helper</class>
            </location>
        </helpers>
        <models>
            <location>
                <class>Netstarter_Location_Model</class>
                <resourceModel>location_mysql4</resourceModel>
            </location>
            <location_mysql4>
                <class>Netstarter_Location_Model_Resource</class>
                <entities>
                    <main>
                        <table>net_location_main</table>
                    </main>
                    <info>
                        <table>net_location_info</table>
                    </info>
                    <web_store>
                        <table>net_location_web_store</table>
                    </web_store>
                    <spatial_index>
                        <table>net_location_spatial</table>
                    </spatial_index>
                    <postcode>
                        <table>net_location_postcode</table>
                    </postcode>
                </entities>
            </location_mysql4>
        </models>
        <resources>
            <location_setup>
                <setup>
                    <module>Netstarter_Location</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </location_setup>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <location>
                        <class>Netstarter_Location_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </location>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <frontend>
        <routers>
            <store>
                <use>standard</use>
                <args>
                    <module>Netstarter_Location</module>
                    <frontName>store</frontName>
                </args>
            </store>
        </routers>
        <layout>
            <updates>
                <location>
                    <file>location.xml</file>
                </location>
            </updates>
        </layout>
        <cache>
            <requests>
                <store>
                    <index>
                        <index>location/processor_location</index>
                    </index>
                    <index>
                        <view>location/processor_location</view>
                    </index>
                </store>
            </requests>
        </cache>
    </frontend>
    <admin>
        <routers>
            <locationsys>
                <use>admin</use>
                <args>
                    <module>Netstarter_Location</module>
                    <frontName>locationsys</frontName>
                </args>
            </locationsys>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <location>
                    <file>location.xml</file>
                </location>
            </updates>
        </layout>
    </adminhtml>
</config>