<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Netstarter_Cartbannerpromotion>
			<version>0.0.1</version>
		</Netstarter_Cartbannerpromotion>
	</modules>
    <frontend>
        <routers>
            <cartpromotionlist>
                <use>standard</use>
                <args>
                    <module>Netstarter_Cartbannerpromotion</module>
                    <frontName>cartbannerpromotion</frontName>
                </args>
            </cartpromotionlist>
        </routers>
        <layout>
            <updates>
                <cartpromotionlist>
                    <file>cartbannerpromotion.xml</file>
                </cartpromotionlist>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <cartbannerpromotion>
                <class>Netstarter_Cartbannerpromotion_Block</class>
            </cartbannerpromotion>
        </blocks>
        <helpers>
            <cartbannerpromotion>
                <class>Netstarter_Cartbannerpromotion_Helper</class>
            </cartbannerpromotion>
        </helpers>
        <models>
            <cartbannerpromotion>
                <class>Netstarter_Cartbannerpromotion_Model</class>
                <resourceModel>cartbannerpromotion_resource</resourceModel>
            </cartbannerpromotion>
            <cartbannerpromotion_resource>
                <class>Netstarter_Cartbannerpromotion_Model_Resource</class>
                <entities>
                    <promotionlist>
                        <table>nets_cart_banner_promotion</table>
                    </promotionlist>
                </entities>
            </cartbannerpromotion_resource>
        </models>
        <resources>
            <cartbannerpromotion_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cartbannerpromotion_write>
            <cartbannerpromotion_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cartbannerpromotion_read>
            <cartbannerpromotion_setup>
                <setup>
                    <module>Netstarter_Cartbannerpromotion</module>
                </setup>
            </cartbannerpromotion_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <cartbannerpromotion>
                <use>admin</use>
                <args>
                    <module>Netstarter_Cartbannerpromotion</module>
                    <frontName>cartbannerpromotion</frontName>
                </args>
            </cartbannerpromotion>
        </routers>
    </admin>
</config>
