<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <BZ_Solr>
            <version>1.0.0.0</version>
        </BZ_Solr>
    </modules>
    <global>
        <blocks>
            <bz_solr>
                <class>BZ_Solr_Block</class>
            </bz_solr>
        </blocks>
        <models>
            <bz_solr>
                <class>BZ_Solr_Model</class>
                <resourceModel>bz_solr_resource</resourceModel>
            </bz_solr>
            <bz_solr_resource>
                 <class>BZ_Solr_Model_Resource</class>
            </bz_solr_resource>
        </models>
        <resources>
            <bz_solr_setup>
                <setup>
                    <module>BZ_Solr</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </bz_solr_setup>
        </resources>
        <helpers>
            <bz_solr>
                <class>BZ_Solr_Helper</class>
            </bz_solr>
            <catalogsearch>
                <rewrite>
                    <data>BZ_Solr_Helper_Engine</data>
                </rewrite>
            </catalogsearch>
        </helpers>
        <events>
            <catalogsearch_index_process_start>
                <observers>
                    <bz_solr>
                        <class>bz_solr/observer</class>
                        <method>holdCommit</method>
                    </bz_solr>
                </observers>
            </catalogsearch_index_process_start>

            <catalogsearch_index_process_complete>
                <observers>
                    <bz_solr>
                        <class>bz_solr/observer</class>
                        <method>applyIndexChanges</method>
                    </bz_solr>
                </observers>
            </catalogsearch_index_process_complete>
            <!-- global event for command line reindex -->
            <catelogsearch_searchable_attributes_load_after>
                <observers>
                    <bz_solr>
                        <class>bz_solr/observer</class>
                        <method>storeSearchableAttributes</method>
                    </bz_solr>
                </observers>
            </catelogsearch_searchable_attributes_load_after>
            <!-- index solr search after cms page entity model saved and committed
            if use <model_save_commit_after> it will be all models
            -->
            <cms_page_save_commit_after>
                <observers>
                    <bz_solr>
                        <class>bz_solr/observer</class>
                        <method>cmsPageSaveCommitAfterIndex</method>
                    </bz_solr>
                </observers>
            </cms_page_save_commit_after>
            <cms_page_delete_commit_after>
                <observers>
                    <bz_solr>
                        <class>bz_solr/observer</class>
                        <method>cmsPageDeleteCommitAfterIndex</method>
                    </bz_solr>
                </observers>
            </cms_page_delete_commit_after>
            <!-- adding searchable for cms page-->
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <bz_solr>
                        <class>bz_solr/observer</class>
                        <method>cmsPageAddIsSearchable</method>
                    </bz_solr>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>

            <catalog_category_save_commit_after>
                <observers>
                    <bz_solr>
                        <class>bz_solr/observer</class>
                        <method>catalogCategorySaveCommitAfterIndex</method>
                    </bz_solr>
                </observers>
            </catalog_category_save_commit_after>
            <catalog_category_delete_commit_after>
                <observers>
                    <bz_solr>
                        <class>bz_solr/observer</class>
                        <method>catalogCategoryDeleteCommitAfterIndex</method>
                    </bz_solr>
                </observers>
            </catalog_category_delete_commit_after>
            
            <catelogsearch_searchable_attributes_load_after>
                <observers>
                    <bz_solr>
                        <class>bz_solr/observer</class>
                        <method>storeSearchableAttributes</method>
                    </bz_solr>
                </observers>
            </catelogsearch_searchable_attributes_load_after>
            <catalog_category_product_partial_reindex>
                <observers>
                    <bz_solr>
                        <class>bz_solr/observer</class>
                        <method>rebuiltIndex</method>
                    </bz_solr>
                </observers>
            </catalog_category_product_partial_reindex>
        </events>
        <index>
            <indexer>
                <bz_solr_indexer_cms>
                    <model>bz_solr/indexer_cms</model>
                </bz_solr_indexer_cms>
                <bz_solr_indexer_category>
                    <model>bz_solr/indexer_category</model>
                </bz_solr_indexer_category>
            </indexer>
        </index>
    </global>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bz_solr before="Mage_Adminhtml">BZ_Solr_Adminhtml</bz_solr>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <adminhtml>
        <layout>
            <updates>
                <bz_solr>
                    <file>bz/solr/search.xml</file>
                </bz_solr>
            </updates>
        </layout>
        <events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <bz_solr>
                        <class>bz_solr/observer</class>
                        <method>eavAttributeEditFormInit</method>
                    </bz_solr>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
            <catalogsearch_query_save_after>
                <observers>
                    <bz_solr>
                        <class>bz_solr/observer</class>
                        <method>searchQueryEditFormAfterSave</method>
                    </bz_solr>
                </observers>
            </catalogsearch_query_save_after>
            <customer_group_save_after>
                <observers>
                    <bz_solr>
                        <class>bz_solr/observer</class>
                        <method>customerGroupSaveAfter</method>
                    </bz_solr>
                </observers>
            </customer_group_save_after>
            <website_delete_before>
                <observers>
                    <bz_solr>
                        <class>bz_solr/observer</class>
                        <method>saveStoreIdsBeforeScopeDelete</method>
                    </bz_solr>
                </observers>
            </website_delete_before>
            <store_group_delete_before>
                <observers>
                    <bz_solr>
                        <class>bz_solr/observer</class>
                        <method>saveStoreIdsBeforeScopeDelete</method>
                    </bz_solr>
                </observers>
            </store_group_delete_before>
            <website_delete_after>
                <observers>
                    <bz_solr>
                        <class>bz_solr/observer</class>
                        <method>clearIndexForStores</method>
                    </bz_solr>
                </observers>
            </website_delete_after>
            <store_group_delete_after>
                <observers>
                    <bz_solr>
                        <class>bz_solr/observer</class>
                        <method>clearIndexForStores</method>
                    </bz_solr>
                </observers>
            </store_group_delete_after>
            <store_delete_after>
                <observers>
                    <bz_solr>
                        <class>bz_solr/observer</class>
                        <method>clearIndexForStores</method>
                    </bz_solr>
                </observers>
            </store_delete_after>
            <after_reindex_process_catalog_product_price>
                <observers>
                    <bz_solr>
                        <class>bz_solr/observer</class>
                        <method>runFulltextReindexAfterPriceReindex</method>
                    </bz_solr>
                </observers>
            </after_reindex_process_catalog_product_price>
        </events>
    </adminhtml>
    
    <frontend>
        <routers>
            <catalogsearch>
                <args>
                    <modules>
                        <bz_solr before="Mage_CatalogSearch">BZ_Solr</bz_solr>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
        <layout>
            <updates>
                <bz_solr>
                    <file>bz/solr/solr.xml</file>
                </bz_solr>
            </updates>
        </layout>

        <events>
            <controller_action_predispatch_catalog_category_view>
                <observers>
                    <bz_solr>
                        <class>bz_solr/observer</class>
                        <method>resetCurrentCatalogLayer</method>
                    </bz_solr>
                </observers>
            </controller_action_predispatch_catalog_category_view>
            <controller_action_predispatch_catalogsearch_result_index>
                <observers>
                    <bz_solr>
                        <class>bz_solr/observer</class>
                        <method>resetCurrentSearchLayer</method>
                    </bz_solr>
                </observers>
            </controller_action_predispatch_catalogsearch_result_index>
            <controller_action_predispatch_catalogsearch_advanced_result>
                <observers>
                    <bz_solr>
                        <class>bz_solr/observer</class>
                        <method>resetCurrentSearchLayer</method>
                    </bz_solr>
                </observers>
            </controller_action_predispatch_catalogsearch_advanced_result>
        </events>
    </frontend>
    
    <default>
        <catalog>
            <solr_search>
                <solr_server_hostname>localhost</solr_server_hostname>
                <solr_server_port>8983</solr_server_port>
                <solr_server_username>admin</solr_server_username>
                <solr_server_timeout>15</solr_server_timeout>
                <solr_server_path>solr</solr_server_path>
                <solr_server_suggestion_enabled>1</solr_server_suggestion_enabled>
                <solr_server_suggestion_count>2</solr_server_suggestion_count>
                <solr_server_suggestion_count_results_enabled>0</solr_server_suggestion_count_results_enabled>
                <autosuggest_spell_count>5</autosuggest_spell_count>
                <autosuggest_group_count>5</autosuggest_group_count>
                <solr_server_use_in_catalog_navigation>1</solr_server_use_in_catalog_navigation>
            </solr_search>
        </catalog>
    </default>
    
</config>
