<?xml version="1.0"?>
<config>
    <modules>
        <Netstarter_AttributeImages>
            <version>0.0.2</version>
        </Netstarter_AttributeImages>
    </modules>
    <global>
        <blocks>
            <attributeimages>
                <class>Netstarter_AttributeImages_Block</class>
            </attributeimages>
        </blocks>
        <helpers>
            <attributeimages>
                <class>Netstarter_AttributeImages_Helper</class>
            </attributeimages>
        </helpers>
        <models>
            <attributeimages>
                <class>Netstarter_AttributeImages_Model</class>
            </attributeimages>
        </models>
    </global>
    <frontend>
        <routers>
            <store>
                <use>standard</use>
                <args>
                    <module>Netstarter_AttributeImages</module>
                    <frontName>attributeimage</frontName>
                </args>
            </store>
        </routers>
        <layout>
            <updates>
                <attributeimages>
                    <file>attributeimages.xml</file>
                </attributeimages>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <attributeimages>
                <use>admin</use>
                <args>
                    <module>Netstarter_AttributeImages</module>
                    <frontName>attributeimages</frontName>
                </args>
            </attributeimages>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <attributeimages>
                    <file>attributeimages.xml</file>
                </attributeimages>
            </updates>
        </layout>
    </adminhtml>
</config>