<?xml version="1.0"?>
<config>
    <sections>
        <cdn translate="label" module="cdn">
            <groups>
                <settings>
                    <fields>
                        <rev_number_attrimg translate="label">
                            <label>(Auto) Incrementing CDN Number for Attribute Images:</label>
                            <comment>Increment number to sync attribute images</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </rev_number_attrimg>
                    </fields>
                </settings>
            </groups>
        </cdn>
    </sections>
</config>
