<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <BZ_Navigation>
            <version>1.0.0.0</version>
        </BZ_Navigation>
    </modules>
    <frontend>
        <layout>
            <updates>
                <bz_navigation>
                    <file>bz/navigation/navigation.xml</file>
                </bz_navigation>
            </updates>
        </layout>
        <routers>
            <bz_navigation>
                <use>standard</use>
                <args>
                    <module>BZ_Navigation</module>
                    <frontName>bz_navigation</frontName>
                </args>
            </bz_navigation>
            <catalog>
                <args>
                    <modules>
                        <bz_navigation before="Mage_Catalog">BZ_Navigation</bz_navigation>
                    </modules>
                </args>
            </catalog>
            <catalogsearch>
                <args>
                    <modules>
                        <bz_navigation before="Mage_CatalogSearch">BZ_Navigation</bz_navigation>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
        <!--<cache>
            <requests>
                <bz_navigation>
                    <category>
                        <view>bz_navigation/processor_category</view>
                    </category>
                </bz_navigation>
            </requests>
        </cache>-->
    </frontend>
    <admin>
        <routers>
            <bz_navigation>
                <use>admin</use>
                <args>
                    <module>BZ_Navigation</module>
                    <frontName>bz_navigation</frontName>
                </args>
            </bz_navigation>
        </routers>
    </admin>
    <global>
        <blocks>
            <bz_navigation>
                <class>BZ_Navigation_Block</class>
            </bz_navigation>
        </blocks>
        <models>
            <bz_navigation>
                <class>BZ_Navigation_Model</class>
                <resourceModel>bz_navigation_resource</resourceModel>
            </bz_navigation>
            <bz_navigation_resource>
                <class>BZ_Navigation_Model_Resource</class>
                <entities>
                    <filter>
                        <table>bz_navigation_filter</table>
                    </filter>
                    <filter_option>
                        <table>bz_navigation_filter_option</table>
                    </filter_option>
                </entities>
            </bz_navigation_resource>
            <!-- rewrites catalog layer navigation to allow mulitple facets -->
            <catalog>
                <rewrite>        
                    <layer_filter_item>BZ_Navigation_Model_Catalog_Layer_Filter_Item</layer_filter_item>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <layer_filter_attribute>BZ_Navigation_Model_Catalog_Resource_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_decimal>BZ_Navigation_Model_Catalog_Resource_Layer_Filter_Decimal</layer_filter_decimal>
                    <product_collection>Bz_Navigation_Model_Resource_Catalog_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource>

            <catalogsearch_resource>
                <rewrite>
                    <fulltext_collection>BZ_Navigation_Model_Resource_CatalogSearch_Fulltext_Collection</fulltext_collection>
                </rewrite>
            </catalogsearch_resource>
        </models>
        <resources>
            <bz_navigation_setup>
                <setup>
                    <module>BZ_Navigation</module>
                    <!-- leave class empty is using Mage_Core_Model_Resource_Setup -->
                </setup>
            </bz_navigation_setup>
        </resources>
        <helpers>
            <bz_navigation>
                <class>BZ_Navigation_Helper</class>
            </bz_navigation>
        </helpers>
        <!-- inject router this way it will only run once -->
        <events>
            <controller_front_init_routers>
                <observers>
                    <bz_navigation>
                        <class>BZ_Navigation_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </bz_navigation>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <default>
        <bz_navigation>
            <general>
                <enabled>1</enabled>
                <ajax>1</ajax>
                <category_mode>1</category_mode>
                <use_separator>1</use_separator>
                <url_separator>by</url_separator>
                <facet_separator>_</facet_separator>
                <search_url>search</search_url>
            </general>
        </bz_navigation>
    </default>
</config>
