<?xml version="1.0"?>
<config>
    <modules>
        <Netstarter_Productwidget>
            <version>0.1.1</version>
        </Netstarter_Productwidget>
    </modules>
    <global>
        <helpers>
            <productwidget>
                <class>Netstarter_Productwidget_Helper</class>
            </productwidget>
        </helpers>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tabs>Netstarter_Productwidget_Block_Adminhtml_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>
                </rewrite>
            </adminhtml>
            <productwidget>
                <class>Netstarter_Productwidget_Block</class>
            </productwidget>
        </blocks>
        <models>
            <productwidget>
                <class>Netstarter_Productwidget_Model</class>
                <resourceModel>productwidget_mysql4</resourceModel>
            </productwidget>
            <productwidget_mysql4>
                <class>Netstarter_Productwidget_Model_Mysql4</class>
                <entities>
                    <look>
                        <table>net_look_link</table>
                    </look>
                </entities>
            </productwidget_mysql4>
        </models>
        <resources>
            <productwidget_setup>
                <setup>
                    <module>Netstarter_Productwidget</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productwidget_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <productwidget>
                <use>admin</use>
                <args>
                    <module>Netstarter_Productwidget</module>
                    <frontName>productwidget</frontName>
                </args>
            </productwidget>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <lookbook>
                    <file>productwidget.xml</file>
                </lookbook>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <look_productsave>
                        <class>productwidget/adminhtml_observer</class>
                        <method>saveLookBookProducts</method>
                    </look_productsave>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
</config>