        <!--<ul class="bwomenu">
            <li><a href="/g-shock-watches.html"><span>Casio G Shock </span></a>
<div class="secondlevel" style="left:-5px !important;">
        <ul>
            <li><a href="/g-shock-watches/analogue.html"><span>Analogue</span></a> </li>
            <li><a href="/g-shock-watches/digital.html"><span>Digital</span></a> </li>
            <li><a href="/g-shock-watches/analogue-digital.html"><span>Analogue/Digital</span></a> </li>
            <li><a href="/g-shock-watches/camo-series.html"><span>Camo Series</span></a> </li>
            <li><a href="/g-shock-watches/gold.html"><span>Gold</span></a> </li>
            <li><a href="/g-shock-watches/limited-edition.html"><span>Limited Edition</span></a> </li>
            <li><a href="/g-shock-watches/bluetooth.html"><span>Bluetooth</span></a> </li>
        </ul>
    </div>
</li>
            <li><a href="/baby-g-watches.html"><span>Casio Baby G</span></a>
<div class="secondlevel">
        <ul>
            <li><a href="/casio-baby-g/analogue-digital.html"><span>Analogue/Digital</span></a> </li>
            <li><a href="/casio-baby-g/digital.html"><span>Digital</span></a> </li>
            <li><a href="/casio-baby-g/black-gold.html"><span>Black/Gold</span></a> </li>
<li><a href="/casio-baby-g/analogue.html"><span>Analogue</span></a> </li>
<li><a href="/casio-baby-g/white.html"><span>White</span></a> </li>
<li><a href="/casio-baby-g/blue.html"><span>Blue</span></a> </li>
<li><a href="/casio-baby-g/green.html"><span>Green</span></a> </li>
<li><a href="/casio-baby-g/grey.html"><span>Grey</span></a> </li>
<li><a href="/casio-baby-g/black.html"><span>Black</span></a> </li>
        </ul>
    </div>
</li>
<li class="mobilehidden"><a href="/edifice-watches.html"><span>Edifice</span></a></li>
<li class="mobilehidden"><a href="/kids-teens-watches.html"><span>Kids/Teens Watches</span></a></li>
            <li class="mobilehidden"><a href="/citizen-watches.html"><span>Citizen Eco Drive</span></a></li>
            <li class="mobilehidden"><a href="/seiko-watches.html"><span>Seiko</span></a></li>
            <li><a href="/latest-releases.html"><span>Latest Releases</span></a></li>
            <li class="mobilehidden"><a href="/casioblog"><span>Blog</span></a></li>
        </ul>-->
        <ul class="bwomenu"  id="fgc-menunav">
            <li><a href="/g-shock-watches.html" title="Casio G Shock"><span>Casio G Shock </span></a>
<div class="secondlevel" style="left:-5px !important;">
        <ul>
            <li><a href="/g-shock-watches/analogue.html" title="Analogue"><span>Analogue</span></a> </li>
            <li><a href="/g-shock-watches/digital.html" title="Digital"><span>Digital</span></a> </li>
            <li><a href="/g-shock-watches/analogue-digital.html" title="Analogue/Digital"><span>Analogue/Digital</span></a> </li>
            <li><a href="/g-shock-watches/camo-series.html" title="Camo Series"><span>Camo Series</span></a> </li>
            <li><a href="/g-shock-watches/gold.html" title="Gold"><span>Gold</span></a> </li>
            <li><a href="/g-shock-watches/limited-edition.html" title="Limited Edition"><span>Limited Edition</span></a> </li>
            <li><a href="/g-shock-watches/bluetooth.html" title="Bluetooth"><span>Bluetooth</span></a> </li>
        </ul>
    </div>
</li>
            <li><a href="/baby-g-watches.html" title="Casio Baby G"><span>Casio Baby G</span></a>
<div class="secondlevel">
        <ul>
            <li><a href="/casio-baby-g/analogue-digital.html" title="Analogue/Digital"><span>Analogue/Digital</span></a> </li>
            <li><a href="/casio-baby-g/digital.html" title="Digital"><span>Digital</span></a> </li>
            <li><a href="/casio-baby-g/black-gold.html" title="Black/Gold"><span>Black/Gold</span></a> </li>
<li><a href="/casio-baby-g/analogue.html" title="Analogue"><span>Analogue</span></a> </li>
<li><a href="/casio-baby-g/white.html" title="White"><span>White</span></a> </li>
<li><a href="/casio-baby-g/blue.html" title="Blue"><span>Blue</span></a> </li>
<li><a href="/casio-baby-g/green.html" title="Green"><span>Green</span></a> </li>
<li><a href="/casio-baby-g/grey.html" title="Grey"><span>Grey</span></a> </li>
<li><a href="/casio-baby-g/black.html" title="Black"><span>Black</span></a> </li>
        </ul>
    </div>
</li>
<li class="mobilehidden"><a href="/edifice-watches.html"title="Edifice" ><span>Edifice</span></a></li>
<li class="mobilehidden"><a href="/kids-teens-watches.html" title="Kids/Teens Watches"><span>Kids/Teens Watches</span></a></li>
            <li class="mobilehidden"><a href="/citizen-watches.html" title="Citizen Eco Drive"><span>Citizen Eco Drive</span></a></li>
            <li class="mobilehidden"><a href="/seiko-watches.html" title="Seiko"><span>Seiko</span></a></li>
            <li><a href="/latest-releases.html" title="Latest Releases"><span>Latest Releases</span></a></li>
            <li class="mobilehidden"><a href="/casioblog" title="Blog"><span>Blog</span></a></li>
        </ul>