<?xml version="1.0"?>
<config>
    <modules>
        <Netstarter_Importimages>
            <version>0.1.0</version>
        </Netstarter_Importimages>
    </modules>
    <global>
        <helpers>
            <netstarter_importimages>
                <class>Netstarter_Importimages_Helper</class>
            </netstarter_importimages>
        </helpers>
        <models>
            <netstarter_importimages>
                <class>Netstarter_Importimages_Model</class>
            </netstarter_importimages>
        </models>
    </global>
    <default>
        <netstarter_importimages>
            <general>
                <delete>0</delete>
            </general>
        </netstarter_importimages>
    </default>
</config>