<?xml version="1.0"?>
<config>
    <modules>
        <Netstarter_Shelltools>
            <version>0.0.1.1</version>
        </Netstarter_Shelltools>
    </modules>
    <global>
        <models>
            <netstarter_shelltools>
                <class>Netstarter_Shelltools_Model</class>
                <resourceModel>netstarter_shelltools_resource</resourceModel>
            </netstarter_shelltools>
            <netstarter_shelltools_resource>
                <class>Netstarter_Shelltools_Model_Resource</class>
                <entities>
                    <synchronization>
                        <table>netstarter_synchronization</table>
                    </synchronization>
                </entities>
            </netstarter_shelltools_resource>
        </models>
        <resources>
            <netstarter_shelltools_setup>
                <setup>
                    <module>Netstarter_Shelltools</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </netstarter_shelltools_setup>
            <netstarter_shelltools_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </netstarter_shelltools_write>
            <netstarter_shelltools_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </netstarter_shelltools_read>
        </resources>
        <helpers>
            <netstarter_shelltools>
                <class>Netstarter_Shelltools_Helper</class>
            </netstarter_shelltools>
        </helpers>
    </global>
</config>