<?xml version="1.0"?>
<config>
    <modules>
        <Netstarter_Storeorder>
            <version>0.1.0</version>
        </Netstarter_Storeorder>
    </modules>
    <global>
        <blocks>
            <storeorder>
                <class>Netstarter_Storeorder_Block</class>
            </storeorder>
        </blocks>
        <helpers>
            <storeorder>
                <class>Netstarter_Storeorder_Helper</class>
            </storeorder>
        </helpers>
        <models>
            <storeorder>
                <class>Netstarter_Storeorder_Model</class>
            </storeorder>
        </models>
        <resources>
            <storeorder_setup>
                <setup>
                    <module>Netstarter_Storeorder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </storeorder_setup>
        </resources>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <netstarter_storeorder>
                        <type>singleton</type>
                        <class>storeorder/observer</class>
                        <method>saveStoreOrderToSession</method>
                    </netstarter_storeorder>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <checkout_type_onepage_save_order>
                <observers>
                    <netstarter_storeorder>
                        <type>singleton</type>
                        <class>storeorder/observer</class>
                        <method>saveStoreOrderToOrder</method>
                    </netstarter_storeorder>
                </observers>
            </checkout_type_onepage_save_order>
        </events>
    </global>
    <frontend>
        <routers>
            <storeorder>
                <use>standard</use>
                <args>
                    <module>Netstarter_Storeorder</module>
                    <frontName>storeorder</frontName>
                </args>
            </storeorder>
        </routers>
    </frontend>
</config>