<?xml version="1.0"?>
<!--
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Amp
 * @copyright   Copyright (c) 2016 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 -->
<config>
    <modules>
        <Plumrocket_Amp>
            <version>1.3.4</version>
        </Plumrocket_Amp>
    </modules>
    <global>
        <models>
            <pramp>
                <class>Plumrocket_Amp_Model</class>
            </pramp>
            <core>
                <rewrite>
                    <!-- Rewrite models -->
                    <url_rewrite_request>Plumrocket_Amp_Model_Url_Rewrite_Request</url_rewrite_request>
                    <url>Plumrocket_Amp_Model_Url</url>
                </rewrite>
            </core>
            <footerjs>
                <rewrite>
                    <observer>Plumrocket_Amp_Model_Plumrocket_FooterJs_Observer</observer>
                </rewrite>
            </footerjs>
            <bss_deferjs>
                <rewrite>
                    <observer>Plumrocket_Amp_Model_Bss_DeferJS_Observer</observer>
                </rewrite>
            </bss_deferjs>
            <meanbee_footerjs>
                <rewrite>
                    <observer>Plumrocket_Amp_Model_Meanbee_Footerjs_Observer</observer>
                </rewrite>
            </meanbee_footerjs>
            <amconf>
                <rewrite>
                    <observer>Plumrocket_Amp_Model_Amasty_Conf_Observer</observer>
                </rewrite>
            </amconf>
            <amshopby>
                <rewrite>
                    <observer>Plumrocket_Amp_Model_Amasty_Shopby_Observer</observer>
                </rewrite>
            </amshopby>
            <amseorichdata>
                <rewrite>
                    <observer>Plumrocket_Amp_Model_Amasty_SeoRichData_Observer</observer>
                </rewrite>
            </amseorichdata>
            <creareseocore>
                <rewrite>
                    <observer>Plumrocket_Amp_Model_Creare_CreareSeoCore_Observer</observer>
                </rewrite>
            </creareseocore>
            <seo>
                <rewrite>
                    <observer>Plumrocket_Amp_Model_Mirasvit_Seo_Observer</observer>
                    <opengraph>Plumrocket_Amp_Model_Mirasvit_Seo_Opengraph</opengraph>
                </rewrite>
            </seo>
            <pagespeed_css>
                <rewrite>
                    <observer>Plumrocket_Amp_Model_Pagespeed_Css_Observer</observer>
                </rewrite>
            </pagespeed_css>
            <pagespeed_js>
                <rewrite>
                    <observer>Plumrocket_Amp_Model_Pagespeed_Js_Observer</observer>
                </rewrite>
            </pagespeed_js>
            <mana_core>
                <rewrite>
                    <observer>Plumrocket_Amp_Model_Mana_Core_Observer</observer>
                </rewrite>
            </mana_core>
            <snippets>
                <rewrite>
                    <observer>Plumrocket_Amp_Model_Magmodules_Snippets_Observer</observer>
                </rewrite>
            </snippets>
            <suggestpage>
                <rewrite>
                    <observer>Plumrocket_Amp_Model_TM_SuggestPage_Observer</observer>
                </rewrite>
            </suggestpage>
            <po_compressor>
                <rewrite>
                    <observer>Plumrocket_Amp_Model_Potato_Compressor_Model_Observer</observer>
                </rewrite>
            </po_compressor>
            <smartcatalog>
                <rewrite>
                    <observer>Plumrocket_Amp_Model_WP_SmartCatalog_Observer</observer>
                </rewrite>
            </smartcatalog>
        </models>
        <helpers>
            <pramp>
                <!-- Amp Helper -->
                <class>Plumrocket_Amp_Helper</class>
            </pramp>
        </helpers>
        <blocks>
            <pramp>
                <!-- Amp Blocks -->
                <class>Plumrocket_Amp_Block</class>
            </pramp>
            <!-- Rewrite core block Review_Block_Helper -->
            <review>
                <rewrite>
                    <helper>Plumrocket_Amp_Block_Review_Helper</helper>
                </rewrite>
            </review>
        </blocks>
        <resources>
            <pramp_setup>
                <setup>
                    <!-- Amp installer -->
                    <module>Plumrocket_Amp</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </pramp_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <pramp>
                    <!-- Amp layout updates -->
                    <file>pramp.xml</file>
                </pramp>
            </updates>
        </layout>
        <translate>
            <modules>
                <!-- Amp translate module -->
                <Plumrocket_Amp>
                    <files>
                        <default>Plumrocket_Amp.csv</default>
                    </files>
                </Plumrocket_Amp>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <!-- Rewrite cms_index_index for displaying custom amp home page -->
            <cms>
                <args>
                    <modules>
                        <Plumrocket_Amp before="Mage_Cms">Plumrocket_Amp</Plumrocket_Amp>
                    </modules>
                </args>
            </cms>
            <!-- Add router for pramp cart controller -->
            <pramp>
                <use>standard</use>
                <args>
                    <module>Plumrocket_Amp</module>
                    <frontName>pramp</frontName>
                </args>
            </pramp>
        </routers>
        <events>
            <!-- Amp observers -->
            <controller_action_layout_load_before>
                <observers>
                    <pramp_controller_action_layout_load_before>
                        <type>singleton</type>
                        <class>pramp/observer</class>
                        <method>controllerActionLayoutLoadBefore</method>
                    </pramp_controller_action_layout_load_before>
                </observers>
            </controller_action_layout_load_before>
            <controller_action_layout_render_before_catalog_category_view>
                <observers>
                    <pramp_controller_action_layout_render_before_catalog_category_view>
                        <type>singleton</type>
                        <class>pramp/observer</class>
                        <method>controllerActionLayoutRenderBefore</method>
                    </pramp_controller_action_layout_render_before_catalog_category_view>
                </observers>
            </controller_action_layout_render_before_catalog_category_view>
            <controller_action_layout_render_before_catalog_product_view>
                <observers>
                    <pramp_controller_action_layout_render_before_catalog_product_view>
                        <type>singleton</type>
                        <class>pramp/observer</class>
                        <method>controllerActionLayoutRenderBefore</method>
                    </pramp_controller_action_layout_render_before_catalog_product_view>
                </observers>
            </controller_action_layout_render_before_catalog_product_view>
            <controller_action_layout_render_before_cms_index_index>
                <observers>
                    <pramp_controller_action_layout_render_before_cms_index_index>
                        <type>singleton</type>
                        <class>pramp/observer</class>
                        <method>controllerActionLayoutRenderBefore</method>
                    </pramp_controller_action_layout_render_before_cms_index_index>
                </observers>
            </controller_action_layout_render_before_cms_index_index>
            <controller_action_layout_render_before_cms_page_view>
                <observers>
                    <pramp_controller_action_layout_render_before_cms_page_view>
                        <type>singleton</type>
                        <class>pramp/observer</class>
                        <method>controllerActionLayoutRenderBefore</method>
                    </pramp_controller_action_layout_render_before_cms_page_view>
                </observers>
            </controller_action_layout_render_before_cms_page_view>
            <controller_action_layout_render_before_pramp_search_index>
                <observers>
                    <pramp_controller_action_layout_render_before_pramp_search_index>
                        <type>singleton</type>
                        <class>pramp/observer</class>
                        <method>controllerActionLayoutRenderBefore</method>
                    </pramp_controller_action_layout_render_before_pramp_search_index>
                </observers>
            </controller_action_layout_render_before_pramp_search_index>
            <controller_action_layout_render_before_catalogsearch_result_index>
                <observers>
                    <pramp_controller_action_layout_render_before_catalogsearch_result_index>
                        <type>singleton</type>
                        <class>pramp/observer</class>
                        <method>controllerActionLayoutRenderBefore</method>
                    </pramp_controller_action_layout_render_before_catalogsearch_result_index>
                </observers>
            </controller_action_layout_render_before_catalogsearch_result_index>
            <http_response_send_before>
                <observers>
                    <pramp_http_response_send_before>
                        <class>pramp/observer</class>
                        <method>responseSendBefore</method>
                    </pramp_http_response_send_before>
                </observers>
            </http_response_send_before>
            <controller_action_predispatch>
                <observers>
                    <security_domain_policy>
                        <class>pramp/observer</class>
                        <method>addDomainPolicyHeader</method>
                    </security_domain_policy>
                </observers>
            </controller_action_predispatch>
            <core_block_abstract_to_html_after>
                <observers>
                    <pramp_core_block_abstract_to_html_after>
                        <class>pramp/observer</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </pramp_core_block_abstract_to_html_after>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <layout>
            <updates>
                <!-- Amp layout -->
                <pramp>
                    <file>pramp.xml</file>
                </pramp>
            </updates>
        </layout>
    </frontend>
    <default>
        <pramp>
            <general>
                <pages>catalog_category_view,catalog_product_view,cms_index_index,cms_page_view,catalogsearch_result_index</pages>
                <ignore_page_amp_cdn>/customer/
/checkout/</ignore_page_amp_cdn>
            </general>
            <additional>
                <amp_option_iframe>1</amp_option_iframe>
                <amp_iframe_path>/ampiframe.php</amp_iframe_path>
            </additional>
            <front_design>
                <navigation_menu_text_color>#636363</navigation_menu_text_color>
                <link_color>#39C</link_color>
                <link_color_hover>#39C</link_color_hover>
                <button_bg_color>#39C</button_bg_color>
                <button_bg_color_hover>#1287c1</button_bg_color_hover>
                <button_text_color>#fff</button_text_color>
                <button_text_color_hover>#fff</button_text_color_hover>
                <price_text_color>#3399CC</price_text_color>
            </front_design>
            <product_page_add_logo>
                <logo_width>272</logo_width>
                <logo_height>90</logo_height>
            </product_page_add_logo>
        </pramp>
    </default>
</config>