<?xml version="1.0"?>
<config>
    <modules>
        <Netstarter_Tbyb>
            <version>0.0.0.7</version>
        </Netstarter_Tbyb>
    </modules>
    <global>
        <sales>
            <quote>
                <totals>
                    <netstarter_tbyb_paynow>
                        <class>netstarter_tbyb/total_paynow</class>
                        <before>subtotal</before>
                    </netstarter_tbyb_paynow>
                    <netstarter_tbyb_paylater>
                        <class>netstarter_tbyb/total_paylater</class>
                        <before>subtotal</before>
                    </netstarter_tbyb_paylater>
                </totals>
            </quote>
        </sales>
        <models>
            <netstarter_tbyb>
                <class>Netstarter_Tbyb_Model</class>
                <resourceModel>netstarter_tbyb_resource</resourceModel>
            </netstarter_tbyb>
            <netstarter_tbyb_resource>
                <class>Netstarter_Tbyb_Model_Resource</class>
                <entities>
                    <item>
                        <table>netstarter_tbyb_item</table>
                    </item>
                </entities>
            </netstarter_tbyb_resource>
            <sales>
                <rewrite>
                    <order_payment>Netstarter_Tbyb_Model_Order_Payment</order_payment>
                    <order>Netstarter_Tbyb_Model_Order</order>
                </rewrite>
            </sales>
           <shipping>
                <rewrite>
                    <carrier_freeshipping>Netstarter_Tbyb_Model_Carrier_Freeshipping</carrier_freeshipping>
                </rewrite>
            </shipping>
        </models>
        <blocks>
            <netstarter_tbyb>
                <class>Netstarter_Tbyb_Block</class>
            </netstarter_tbyb>
        </blocks>
        <helpers>
            <netstarter_tbyb>
                <class>Netstarter_Tbyb_Helper</class>
            </netstarter_tbyb>
        </helpers>
        <template>
            <email>
                <netstarter_tbyb_new_order translate="label" module="netstarter_tbyb">
                    <label>New Order For Tbyb Item</label>
                    <file>netstarter/tbyb_new_order.html</file>
                    <type>html</type>
                </netstarter_tbyb_new_order>
                <netstarter_tbyb_cancelled translate="label" module="netstarter_tbyb">
                    <label>Tbyb Item Cancelled</label>
                    <file>netstarter/tbyb_new_cancelled.html</file>
                    <type>html</type>
                </netstarter_tbyb_cancelled>
                <netstarter_tbyb_charged translate="label" module="netstarter_tbyb">
                    <label>Tbyb Item Charged</label>
                    <file>netstarter/tbyb_new_charged.html</file>
                    <type>html</type>
                </netstarter_tbyb_charged>
            </email>
        </template>
        <resources>
            <netstarter_tbyb_setup>
                <setup>
                    <module>Netstarter_Tbyb</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </netstarter_tbyb_setup>
            <netstarter_tbyb_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </netstarter_tbyb_write>
            <netstarter_tbyb_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </netstarter_tbyb_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <netstarter_tbyb before="Mage_Adminhtml">Netstarter_Tbyb_Adminhtml</netstarter_tbyb>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <events>
            <checkout_cart_save_after>
                <observers>
                    <netstarter_tbyb>
                        <class>netstarter_tbyb/observer</class>
                        <method>deleteGiftcardCoupon</method>
                    </netstarter_tbyb>
                </observers>
            </checkout_cart_save_after>
            <payment_method_is_active>
                <observers>
                    <netstarter_tbyb>
                        <type>singleton</type>
                        <class>netstarter_tbyb/observer</class>
                        <method>activatePaymentMethod</method>
                    </netstarter_tbyb>
                 </observers>
             </payment_method_is_active>
             <checkout_onepage_controller_success_action>
                <observers>
                    <netstarter_tbyb>
                        <type>singleton</type>
                        <class>netstarter_tbyb/observer</class>
                        <method>saveFuturePayments</method>
                    </netstarter_tbyb>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
        <routers>
            <tbyb>
                <use>standard</use>
                <args>
                    <module>Netstarter_Tbyb</module>
                    <frontName>curv-stop</frontName>
                </args>
            </tbyb>
        </routers>
        <layout>
            <updates>
                <netstarter_tbyb>
                    <file>netstarter/tbyb.xml</file>
                </netstarter_tbyb>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <netstarter_tbyb>
                    <file>netstarter/tbyb.xml</file>
                </netstarter_tbyb>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <curvesence>
            <tbyb>
                <active>0</active>
                <model>netstarter_tbyb</model>
                <title>No of days for future payment</title>
                <nooffuturepaymentday>14</nooffuturepaymentday>
                <pament_methods>netstarter_eway_rapid31</pament_methods>
            </tbyb>
        </curvesence>
    </default>
</config>


