<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Netstarter_StockAlerts>
            <version>1.6.0.1</version>
        </Netstarter_StockAlerts>
    </modules>
    <global>
        <blocks>
            <stockalerts>
                <class>Netstarter_StockAlerts_Block</class>
            </stockalerts>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_alerts_stock>Netstarter_StockAlerts_Block_Catalog_Product_Edit_Tab_Alerts_Stock</catalog_product_edit_tab_alerts_stock>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <productalert_resource>
                <rewrite>
                    <stock_collection>Netstarter_StockAlerts_Model_Resource_Stock_Collection</stock_collection>
                </rewrite>
            </productalert_resource>
            <productalert>
                <rewrite>
                    <observer>Netstarter_StockAlerts_Model_Observer</observer>
                </rewrite>
            </productalert>
        </models>
        <resources>
            <stockalerts_setup>
                <setup>
                    <module>Netstarter_StockAlerts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </stockalerts_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <stockalerts>
                    <file>stockalert.xml</file>
                </stockalerts>
            </updates>
        </layout>
        <routers>
            <stockalerts>
                <use>standard</use>
                <args>
                    <module>Netstarter_StockAlerts</module>
                    <frontName>stockalerts</frontName>
                </args>
            </stockalerts>
        </routers>
    </frontend>
</config>
