<?xml version="1.0" ?>
<config>
    <modules>
        <Netstarter_GiftCardApi>
            <version>0.3.0</version>
        </Netstarter_GiftCardApi>
    </modules>
    <global>
        <models>
            <giftcardapi>
                <class>Netstarter_GiftCardApi_Model</class>
            </giftcardapi>
            <enterprise_giftcardaccount>
                <rewrite>
                    <giftcardaccount>Netstarter_GiftCardApi_Model_GiftCardAccount_Giftcardaccount</giftcardaccount>
                </rewrite>
            </enterprise_giftcardaccount>
        </models>
        <blocks>
            <giftcardapi>
                <class>Netstarter_GiftCardApi_Block</class>
            </giftcardapi>
        </blocks>
        <resources>
            <giftcard_api_setup>
                <setup>
                    <module>Netstarter_GiftCardApi</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </giftcard_api_setup>
        </resources>
        <helpers>
            <giftcardapi>
                <class>Netstarter_GiftCardApi_Helper</class>
            </giftcardapi>
        </helpers>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <giftcardaccount_api_charge_by_code>
                        <class>giftcardapi/observer</class>
                        <method>processOrderPlace</method>
                    </giftcardaccount_api_charge_by_code>
                </observers>
            </checkout_type_onepage_save_order>
            <sales_model_service_quote_submit_failure>
                <observers>
                    <inventory>
                        <class>giftcardapi/observer</class>
                        <method>revertGiftCards</method>
                    </inventory>
                </observers>
            </sales_model_service_quote_submit_failure>
        </events>
    </global>
    <frontend>
        <routers>
            <giftcardapi>
                <use>standard</use>
                <args>
                    <module>Netstarter_GiftCardApi</module>
                    <frontName>giftcardapi</frontName>
                </args>
            </giftcardapi>
        </routers>
        <layout>
            <updates>
                <giftcardapi>
                    <file>gifcardapi.xml</file>
                </giftcardapi>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <event_column_append>
                        <class>giftcardapi/observer</class>
                        <method>appendCustomColumn</method>
                    </event_column_append>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
</config>