<?xml version="1.0"?>
<config>
    <modules>
        <Netstarter_Menu>
            <version>0.1.0</version>
        </Netstarter_Menu>
    </modules>
    <global>
        <blocks>
            <topmenu>
                <class>Netstarter_Menu_Block</class>
            </topmenu>
        </blocks>
        <resources>
            <menu_setup>
                <setup>
                    <module>Netstarter_Menu</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </menu_setup>
            <menu_setup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </menu_setup_write>
            <menu_setup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </menu_setup_read>
        </resources>
        <events>
            <catalog_category_prepare_save>
                <observers>
                    <Netstarter_Menu_Model_Observer>
                        <class>Netstarter_Menu_Model_Observer</class>
                        <method>saveAdditionalCategoryData</method>
                    </Netstarter_Menu_Model_Observer>
                </observers>
            </catalog_category_prepare_save>
        </events>
    </global>
</config>
