<?xml version="1.0"?>
<config>
    <modules>
        <Netstarter_Extcatalog>
            <version>0.3.2</version>
        </Netstarter_Extcatalog>
    </modules>
    <global>
        <blocks>
            <extcatalog>
                <class>Netstarter_Extcatalog_Block</class>
            </extcatalog>
            <catalog>
                <rewrite>
                    <product_compare_list>Netstarter_Extcatalog_Block_Product_Compare_List</product_compare_list>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <extcatalog>
                <class>Netstarter_Extcatalog_Helper</class>
            </extcatalog>
        </helpers>
        <models>
            <extcatalog>
                <class>Netstarter_Extcatalog_Model</class>
                <resourceModel>extcatalog_mysql4</resourceModel>
            </extcatalog>
            <catalog>
                <rewrite>
                    <product_compare_list>Netstarter_Extcatalog_Model_Catalog_Product_Compare_List</product_compare_list>
                </rewrite>
            </catalog>
            <enterprise_catalog>
                <rewrite>
                    <category_url>Netstarter_Extcatalog_Model_Category_Url</category_url>
                </rewrite>
            </enterprise_catalog>
            <!--<enterprise_giftcard>-->
                <!--<rewrite>-->
                    <!--<catalog_product_type_giftcard>Netstarter_Extcatalog_Model_GiftCard_Catalog_Product_Type_Giftcard</catalog_product_type_giftcard>-->
                <!--</rewrite>-->
            <!--</enterprise_giftcard>-->
            <!--<cataloginventory>-->
                <!--<rewrite>-->
                    <!--<observer>Netstarter_Extcatalog_Model_CatalogInventory_Observer</observer>-->
                <!--</rewrite>-->
            <!--</cataloginventory>-->
            <!--<enterprise_pagecache>-->
                <!--<rewrite>-->
                    <!--<container_sidebar_comparelist>Netstarter_Extcatalog_Model_PageCache_Container_Sidebar_Comparelist</container_sidebar_comparelist>-->
                <!--</rewrite>-->
            <!--</enterprise_pagecache>-->
        </models>
        <resources>
            <extcatalog_setup>
                <setup>
                    <module>Netstarter_Extcatalog</module>
                </setup>
            </extcatalog_setup>
        </resources>
        <events>
            <catalog_product_load_after>
                <observers>
                    <extcatalog_product_update>
                        <class>Netstarter_Extcatalog_Model_Observer</class>
                        <method>updateProduct</method>
                    </extcatalog_product_update>
                </observers>
            </catalog_product_load_after>
            <catalog_category_flat_loadnodes_before>
                <observers>
                    <extcatalog_flat_catalog_extra>
                        <class>Netstarter_Extcatalog_Model_Observer</class>
                        <method>loadExtraFieldsFromFlat</method>
                    </extcatalog_flat_catalog_extra>
                </observers>
            </catalog_category_flat_loadnodes_before>
        </events>
    </global>
    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <Netstarter_Extcatalog before="Mage_Catalog">Netstarter_Extcatalog</Netstarter_Extcatalog>
                    </modules>
                </args>
            </catalog>
        </routers>
    </frontend>
    <admin>
        <routers>
            <extcatalog>
                <use>admin</use>
                <args>
                    <module>Netstarter_Extcatalog</module>
                    <frontName>extcatalog</frontName>
                </args>
            </extcatalog>
        </routers>
    </admin>
</config>
