<?xml version="1.0"?>
<config>
    <modules>
        <TV_WebFormDownload>
            <version>0.1.0</version>
        </TV_WebFormDownload>
    </modules>
    <frontend>
        <routers>
            <webformdownload>
                <use>standard</use>
                <args>
                    <module>TV_WebFormDownload</module>
                    <frontName>webformdownload</frontName>
                </args>
            </webformdownload>
        </routers>
        <layout>
            <updates>
                <webformdownload>
                    <file>webformdownload.xml</file>
                </webformdownload>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <webformdownload>
                <class>TV_WebFormDownload_Helper</class>
            </webformdownload>
        </helpers>
        <blocks>
            <webformdownload>
                <class>TV_WebFormDownload_Block</class>
            </webformdownload>
        </blocks>
    </global>
</config> 