<?xml version="1.0"?>
<config>
    <modules>
        <Netstarter_Eway>
            <version>0.0.0.2</version>
        </Netstarter_Eway>
    </modules>
    <global>
        <blocks>
            <netstarter_eway>
                <class>Netstarter_Eway_Block</class>
            </netstarter_eway>
        </blocks>
        <models>
            <netstarter_eway>
                <class>Netstarter_Eway_Model</class>
                <resourceModel>netstarter_eway_resource</resourceModel>
            </netstarter_eway>
            <netstarter_eway_resource>
                <class>Netstarter_Eway_Model_Resource</class>
                <entities>
                    <token>
                        <table>netstarter_eway_token</table>
                    </token>
                </entities>
            </netstarter_eway_resource>
        </models>
        <helpers>
            <netstarter_eway>
                <class>Netstarter_Eway_Helper</class>
            </netstarter_eway>
        </helpers>
        <resources>
            <netstarter_eway_setup>
                <setup>
                    <module>Netstarter_Eway</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </netstarter_eway_setup>
            <netstarter_eway_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </netstarter_eway_write>
            <netstarter_eway_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </netstarter_eway_read>
        </resources>
        <events>
            <sales_model_service_quote_submit_failure>
                <observers>
                    <netstarter_eway_destroy_token>
                        <class>netstarter_eway/observer</class>
                        <method>destroyTokenOnCheckoutFailure</method>
                    </netstarter_eway_destroy_token>
                </observers>
            </sales_model_service_quote_submit_failure>
        </events>
    </global>
    <default>
        <payment>
            <netstarter_eway_rapid31>
                <live_url>https://api.ewaypayments.com/</live_url>
                <sandbox_url>https://api.sandbox.ewaypayments.com/</sandbox_url>
                <payment_action>authorize_capture</payment_action>
                <order_status>processing</order_status>
                <model>netstarter_eway/rapid31</model>
                <title>Credit Card</title>
                <allowspecific>0</allowspecific>
            </netstarter_eway_rapid31>
        </payment>
    </default>
</config>
