<?xml version="1.0"?>
<config>
    <modules>
        <Netstarter_Productswitcher>
            <version>0.0.1</version>
        </Netstarter_Productswitcher>
    </modules>
    <frontend>
        <routers>
            <productswitcher>
                <use>standard</use>
                <args>
                    <module>Netstarter_Productswitcher</module>
                    <frontName>productswitcher</frontName>
                </args>
            </productswitcher>
        </routers>
        <layout>
            <updates>
                <productswitcher>
                    <file>productswitcher.xml</file>
                </productswitcher>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <productswitcher>
                <class>Netstarter_Switcher_Block</class>
            </productswitcher>
        </blocks>
        <models>
            <productswitcher>
                <class>Netstarter_Switcher_Model</class>
            </productswitcher>
        </models>
    </global>
</config>