<?xml version="1.0"?>
<config>
    <modules>
        <Netstarter_Afeature>
            <version>0.3.0</version>
        </Netstarter_Afeature>
    </modules>
    <frontend>
        <routers>
            <afeature>
                <use>standard</use>
                <args>
                    <module>Netstarter_Afeature</module>
                    <frontName>afeature</frontName>
                </args>
            </afeature>
        </routers>
        <layout>
            <updates>
                <afeature>
                    <file>afeature.xml</file>
                </afeature>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <afeature>
                <use>admin</use>
                <args>
                    <module>Netstarter_Afeature</module>
                    <frontName>afeature</frontName>
                </args>
            </afeature>
        </routers>
    </admin>
    <adminhtml>
        <!--<menu>
           <cms translate="title" module="cms">
                <children>
                    <afeature module="afeature">
                        <title>A-Feature</title>
                        <sort_order>0</sort_order>
                        <action>afeature/adminhtml_afeature</action>
                        <resource>admin/afeature/items</resource>
                    </afeature>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <afeature translate="title" module="afeature">
                            <children>
                                <items translate="title">
                                    <title>Edit</title>
                                </items>
                            </children>
                       </afeature>
                   </children>
               </admin>
           </resources>
        </acl>-->
        <layout>
            <updates>
                <afeature>
                    <file>afeature.xml</file>
                </afeature>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <afeature>
                <class>Netstarter_Afeature_Model</class>
                <resourceModel>afeature_mysql4</resourceModel>
            </afeature>
            <afeature_mysql4>
                <class>Netstarter_Afeature_Model_Mysql4</class>
                <entities>
                    <afeature>
                        <table>net_afeature</table>
                    </afeature>
                </entities>
            </afeature_mysql4>
        </models>
        <resources>       
            <afeature_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </afeature_write>
            <afeature_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </afeature_read>
            <afeature_setup>
                <setup>
                    <module>Netstarter_Afeature</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </afeature_setup>
        </resources>
        <blocks>
            <afeature>
                <class>Netstarter_Afeature_Block</class>
            </afeature>
        </blocks>
        <helpers>
            <afeature>
                <class>Netstarter_Afeature_Helper</class>
            </afeature>
        </helpers>
    </global>
</config>