<?xml version="1.0"?>
<config>
    <sections>
        <design>
            <groups>
                <!-- Extended section to support Multiple Category-->
                <catalogpage>
                    <fields>
                        <spotlightpos translate="label">
                            <label>Category Spotlight Position</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>121</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>In which position to show spotlight if assigned by a Afeature widget</comment>
                        </spotlightpos>
                    </fields>
                </catalogpage>
            </groups>
        </design>
    </sections>
</config>
