<?xml version="1.0"?>
<config>
    <sections>
        <netstarter_exacttarget translate="label" module="netstarter_exacttarget">
            <label>Exact Target</label>
            <tab>customer</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <connection translate="label">
                    <label>SFTP Connection Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <url_production translate="label">
                            <label>URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </url_production>
                        <username_production translate="label">
                            <label>Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </username_production>
                        <password_production translate="label">
                            <label>Password</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </password_production>
                        <path translate="label">
                            <label>Path</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </path>
                        <filename translate="label">
                            <label>Filename</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                File name to be generated on the sftp server, the file will be replaced on every run.
                                Please leave it empty for automatic generated names, resulting in multiple files in the server.
                            </comment>
                        </filename>
                        <order_filename translate="label">
                            <label>Filename for Sales Order Report</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_filename>
                        <orderitem_filename translate="label">
                            <label>Filename for Sales Order Items Report</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </orderitem_filename>
                    </fields>
                </connection>
            </groups>
        </netstarter_exacttarget>
    </sections>
</config>
